openapi: 3.0.3
info:
  title: Employee Onboarding System API
  description: |
    Comprehensive RESTful API for the Employee Onboarding System module of Copilot HR.
    Strictly aligned with the updated database schema (`db.md`).
    Covers the full employee onboarding lifecycle from recruitment application management, 
    offer generation & candidate form templates, document intake & OCR field mappings, 
    generated outputs, day-one readiness tracking, role-based task assignments & comments,
    contract lifecycle management, probation tracking, multi-round evaluation panels, and onboarding completion.
  version: 1.2.0
  contact:
    name: Copilot HR Development Team
    email: support@copilothr.com

servers:
  - url: https://api.copilothr.com/v1
    description: Production Server
  - url: https://staging-api.copilothr.com/v1
    description: Staging Environment
  - url: http://localhost:8080/v1
    description: Local Development Environment

security:
  - BearerAuth: []

tags:
  - name: Application Management
    description: Manage applications, interviews, and evaluations.
  - name: Offer Management
    description: Manage offers, templates, and candidate responses.
  - name: Onboarding Intake Review
    description: Review submitted information, documents, and AI mappings.
  - name: Onboarding Board
    description: Manage onboarding cases, readiness, stages, and blockers.
  - name: My Assigned Tasks
    description: Manage onboarding tasks, assignments, and comments.
  - name: Contract Management
    description: Manage probation and official contract lifecycles.
  - name: Tracking Onboarding Progress
    description: Track probation, self-review, evaluations, and outcomes.

paths:
  # =========================================================================
  # 1. APPLICATION MANAGEMENT
  # =========================================================================
  /applications:
    get:
      tags:
        - Application Management
      summary: List job applications
      description: Retrieve a paginated list of job applications filtered by stage, status, or position.
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [APPLIED, SCREENING, INTERVIEWING, OFFER_PENDING, OFFER_ACCEPTED, REJECTED, WITHDRAWN]
        - name: application_stage_id
          in: query
          schema:
            type: integer
            format: int64
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Applications list retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    example: 42
                  page:
                    type: integer
                    example: 1
                  limit:
                    type: integer
                    example: 20
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Application'

    post:
      tags:
        - Application Management
      summary: Submit job application
      description: Create a new job application for a candidate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
      responses:
        '201':
          description: Application created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'

  /applications/{applicationId}:
    get:
      tags:
        - Application Management
      summary: Get application details
      description: Fetch complete application details including candidate contact info, stage history, and owner.
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Application details retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  /applications/{applicationId}/stage:
    patch:
      tags:
        - Application Management
      summary: Update application stage
      description: Advance or change application stage and log transition timestamp (`moved_to_stage_at`).
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [application_stage_id]
              properties:
                application_stage_id:
                  type: integer
                  format: int64
                  example: 3
                status:
                  type: string
                  example: "INTERVIEWING"
      responses:
        '200':
          description: Application stage updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'

  /applications/{applicationId}/interviews:
    get:
      tags:
        - Application Management
      summary: List interviews for an application
      description: Retrieve all interview rounds scheduled for this application.
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: List of interviews.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Interview'

    post:
      tags:
        - Application Management
      summary: Schedule interview round
      description: Schedule an interview round with details (round, type, scheduled_at, duration, meeting link).
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInterviewRequest'
      responses:
        '201':
          description: Interview scheduled successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interview'

  /applications/{applicationId}/evaluations:
    get:
      tags:
        - Application Management
      summary: Get candidate evaluations
      description: Retrieve granular candidate evaluation scores across technical, experience, communication, and culture fit.
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: List of evaluations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApplicationEvaluation'

    post:
      tags:
        - Application Management
      summary: Submit candidate evaluation scores
      description: Submit multi-criteria evaluation scores and overall recommendation.
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationEvaluationRequest'
      responses:
        '201':
          description: Evaluation recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationEvaluation'

  # =========================================================================
  # 2. OFFER MANAGEMENT
  # =========================================================================
  /candidate-form-templates:
    get:
      tags:
        - Offer Management
      summary: List candidate form templates
      description: Retrieve form templates used for candidate onboarding information intake.
      responses:
        '200':
          description: Candidate form templates list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CandidateFormTemplate'

  /offers:
    post:
      tags:
        - Offer Management
      summary: Generate job offer
      description: |
        Create a job offer linking offer template, email template, candidate form template, 
        salary parameters, response deadline, and proposed start date.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOfferRequest'
      responses:
        '201':
          description: Offer generated in DRAFT status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'

  /offers/{offerId}:
    get:
      tags:
        - Offer Management
      summary: Get offer details
      description: Fetch complete offer entity details including salary, code, version, and timestamps.
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Offer details retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'

  /offers/{offerId}/send:
    post:
      tags:
        - Offer Management
      summary: Send offer email to candidate
      description: Dispatches offer email to candidate and updates `sent_at` timestamp and status to SENT.
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Offer email dispatched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'

  /offers/{offerId}/respond:
    post:
      tags:
        - Offer Management
      summary: Candidate offer response
      description: Candidate submits response (ACCEPTED, DECLINED, NEGOTIATING) with optional message.
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [response_type]
              properties:
                response_type:
                  type: string
                  enum: [ACCEPTED, DECLINED, NEGOTIATING]
                  example: "ACCEPTED"
                message:
                  type: string
                  example: "I accept the offer terms."
      responses:
        '200':
          description: Offer response recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResponse'

  # =========================================================================
  # 3. ONBOARDING INTAKE REVIEW
  # =========================================================================
  /onboarding/submissions:
    post:
      tags:
        - Onboarding Intake Review
      summary: Submit candidate onboarding intake profile
      description: Candidate creates an intake submission record linked to an accepted offer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [offer_id]
              properties:
                offer_id:
                  type: integer
                  format: int64
                  example: 7001
      responses:
        '201':
          description: Submission initialized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingSubmission'

  /onboarding/submissions/{submissionId}:
    get:
      tags:
        - Onboarding Intake Review
      summary: Get onboarding submission details
      description: Fetch intake submission details, uploaded documents, field mappings, and generated outputs.
      parameters:
        - name: submissionId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Submission details retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionDetail'

  /onboarding/submissions/{submissionId}/documents:
    post:
      tags:
        - Onboarding Intake Review
      summary: Upload onboarding document
      description: Upload identity, degree, tax code, or banking document files.
      parameters:
        - name: submissionId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, document_type]
              properties:
                document_type:
                  type: string
                  enum: [NATIONAL_ID, DEGREE_CERTIFICATE, TAX_CODE, BANK_DETAILS, HEALTH_CHECK]
                  example: "NATIONAL_ID"
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Document uploaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionDocument'

  /onboarding/submissions/{submissionId}/field-mappings/parse:
    post:
      tags:
        - Onboarding Intake Review
      summary: AI/OCR document field parsing
      description: Trigger AI auto-extraction to populate source values, mapped values, and confidence scores.
      parameters:
        - name: submissionId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Field mappings generated.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldMapping'

  /onboarding/submissions/{submissionId}/generated-outputs:
    get:
      tags:
        - Onboarding Intake Review
      summary: List generated outputs (contracts & forms)
      description: Retrieve generated documents (e.g. populated probation contract PDF, welcome pack).
      parameters:
        - name: submissionId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Generated outputs list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneratedOutput'

  /onboarding/submissions/{submissionId}/reviews:
    post:
      tags:
        - Onboarding Intake Review
      summary: Submit HR intake review
      description: HR reviews submitted documents and mappings, approving or requesting revisions.
      parameters:
        - name: submissionId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                reviewer_user_id:
                  type: integer
                  format: int64
                  example: 12
                status:
                  type: string
                  enum: [APPROVED, REJECTED, NEEDS_REVISION]
                  example: "APPROVED"
                review_notes:
                  type: string
                  example: "All documents verified successfully."
      responses:
        '200':
          description: Intake review recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntakeReview'

  # =========================================================================
  # 4. ONBOARDING BOARD
  # =========================================================================
  /onboarding/cases:
    post:
      tags:
        - Onboarding Board
      summary: Initialize onboarding case
      description: Create an onboarding case linked to offer, employee record, and initial stage.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOnboardingCaseRequest'
      responses:
        '201':
          description: Case initialized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingCase'

    get:
      tags:
        - Onboarding Board
      summary: List onboarding cases (Kanban board view)
      description: Fetch onboarding cases grouped by stage, priority, or manager.
      parameters:
        - name: onboarding_stage_id
          in: query
          schema:
            type: integer
            format: int64
        - name: priority
          in: query
          schema:
            type: string
            enum: [LOW, MEDIUM, HIGH, URGENT]
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Onboarding cases list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OnboardingCaseDetail'

  /onboarding/cases/{caseId}:
    get:
      tags:
        - Onboarding Board
      summary: Get onboarding case details
      description: Fetch comprehensive case details including tasks, checklist, blockers, and probation.
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Case details retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingCaseDetail'

  /onboarding/cases/{caseId}/readiness-checklist:
    get:
      tags:
        - Onboarding Board
      summary: Get Day One readiness checklist items
      description: Retrieve readiness items with `is_required` flags and completion timestamps.
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Checklist items.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReadinessChecklistItem'

  /onboarding/cases/{caseId}/blockers:
    get:
      tags:
        - Onboarding Board
      summary: Get case blockers
      description: List blockers with severity, status, reported timestamp, and linked task ID.
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Blockers list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OnboardingBlocker'

    post:
      tags:
        - Onboarding Board
      summary: Report onboarding blocker
      description: Flag a blocker with type, severity (`LOW`, `MEDIUM`, `HIGH`, `CRITICAL`), and linked task ID.
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [blocker_type, description, severity]
              properties:
                onboarding_task_id:
                  type: integer
                  format: int64
                  example: 1501
                blocker_type:
                  type: string
                  example: "HARDWARE_DELIVERY_DELAY"
                description:
                  type: string
                  example: "Laptop delivery delayed by vendor."
                severity:
                  type: string
                  enum: [LOW, MEDIUM, HIGH, CRITICAL]
                  example: "HIGH"
      responses:
        '201':
          description: Blocker reported.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingBlocker'

  # =========================================================================
  # 5. MY ASSIGNED TASKS
  # =========================================================================
  /onboarding/cases/{caseId}/tasks:
    get:
      tags:
        - My Assigned Tasks
      summary: List tasks for onboarding case
      description: Retrieve onboarding tasks with priority, due date, started_at, and completed_at.
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: List of onboarding tasks.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OnboardingTask'

    post:
      tags:
        - My Assigned Tasks
      summary: Create onboarding task
      description: Create a task manually or from template.
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [task_name]
              properties:
                task_template_id:
                  type: integer
                  format: int64
                  example: 10
                task_name:
                  type: string
                  example: "Setup System Profile on External HR System"
                description:
                  type: string
                  example: "Enter candidate profile details into parent HR portal."
                priority:
                  type: string
                  enum: [LOW, MEDIUM, HIGH, URGENT]
                  example: "HIGH"
                due_at:
                  type: string
                  format: date-time
                  example: "2026-08-28T17:00:00Z"
      responses:
        '201':
          description: Task created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingTask'

  /onboarding/tasks/{taskId}/assignments:
    post:
      tags:
        - My Assigned Tasks
      summary: Assign task to user
      description: Assign an onboarding task to a specific department user and record `assigned_by_user_id`.
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assigned_user_id, assigned_by_user_id]
              properties:
                assigned_user_id:
                  type: integer
                  format: int64
                  example: 88
                assigned_by_user_id:
                  type: integer
                  format: int64
                  example: 12
      responses:
        '201':
          description: Assignment created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAssignment'

  /onboarding/tasks/{taskId}/comments:
    get:
      tags:
        - My Assigned Tasks
      summary: List task comments
      description: Get discussion comments for an onboarding task.
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: List of task comments.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskComment'

    post:
      tags:
        - My Assigned Tasks
      summary: Add task comment
      description: Post a comment or update on an onboarding task.
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [author_user_id, comment]
              properties:
                author_user_id:
                  type: integer
                  format: int64
                  example: 88
                comment:
                  type: string
                  example: "Workstation hardware prepared and configured with standard dev tools."
      responses:
        '201':
          description: Comment posted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskComment'

  # =========================================================================
  # 6. CONTRACT MANAGEMENT
  # =========================================================================
  /contract-templates:
    get:
      tags:
        - Contract Management
      summary: List contract templates
      description: Retrieve active probation and official contract templates.
      responses:
        '200':
          description: Contract templates retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContractTemplate'

  /contracts:
    get:
      tags:
        - Contract Management
      summary: List contracts
      description: Retrieve contracts filtered by onboarding case, contract type, or lifecycle status.
      parameters:
        - name: onboarding_case_id
          in: query
          schema:
            type: integer
            format: int64
        - name: contract_type
          in: query
          schema:
            type: string
            enum: [PROBATION, OFFICIAL]
        - name: status
          in: query
          schema:
            type: string
            enum: [DRAFT, IN_REVIEW, READY_TO_SIGN, SIGNED, CANCELLED]
      responses:
        '200':
          description: Contracts retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Contract'

    post:
      tags:
        - Contract Management
      summary: Create contract
      description: Create a probation or official contract for an onboarding case from a contract template.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractRequest'
      responses:
        '201':
          description: Contract created in DRAFT status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'

  /contracts/{contractId}:
    get:
      tags:
        - Contract Management
      summary: Get contract details
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Contract details retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - Contract Management
      summary: Update contract draft
      description: Update editable contract fields before signing.
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContractRequest'
      responses:
        '200':
          description: Contract updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'

  /contracts/{contractId}/submit-for-approval:
    post:
      tags:
        - Contract Management
      summary: Submit contract for approval
      description: Move a draft contract to IN_REVIEW and create a pending approval request.
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractApprovalRequest'
      responses:
        '201':
          description: Approval request created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractApproval'

  /contracts/{contractId}/approvals:
    get:
      tags:
        - Contract Management
      summary: List contract approval history
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Contract approval history retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContractApproval'

  /contract-approvals/{approvalId}/decision:
    post:
      tags:
        - Contract Management
      summary: Record contract approval decision
      description: Approve, reject, or request changes for a contract approval request.
      parameters:
        - name: approvalId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [APPROVED, REJECTED, CHANGES_REQUESTED]
                comment:
                  type: string
      responses:
        '200':
          description: Approval decision recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractApproval'

  /contracts/{contractId}/mark-signed:
    post:
      tags:
        - Contract Management
      summary: Mark contract as signed
      description: Record the signed document and transition the contract to SIGNED.
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                document_url:
                  type: string
                  example: "https://storage.copilothr.com/contracts/CON-2026-0042-signed.pdf"
                signed_at:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Contract marked as signed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'

  # =========================================================================
  # 7. TRACKING ONBOARDING PROGRESS
  # =========================================================================
  /onboarding/cases/{caseId}/probation:
    post:
      tags:
        - Tracking Onboarding Progress
      summary: Initiate probation tracking
      description: Create probation tracking record for an onboarding case.
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [start_date, end_date]
              properties:
                start_date:
                  type: string
                  format: date
                  example: "2026-09-01"
                end_date:
                  type: string
                  format: date
                  example: "2026-11-01"
      responses:
        '201':
          description: Probation record created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Probation'

    get:
      tags:
        - Tracking Onboarding Progress
      summary: Get probation details
      description: Fetch probation status, extension count, completed timestamp, and review rounds.
      parameters:
        - name: caseId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Probation details retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Probation'

  /probation/{probationId}/self-reviews:
    post:
      tags:
        - Tracking Onboarding Progress
      summary: Submit self-review
      description: Candidate submits probation self-review content.
      parameters:
        - name: probationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [review_content, status]
              properties:
                review_content:
                  type: string
                  example: "Successfully onboarded into project. Delivered 3 major sprint features."
                status:
                  type: string
                  enum: [DRAFT, SUBMITTED]
                  example: "SUBMITTED"
      responses:
        '201':
          description: Self-review submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SelfReview'

  /probation/{probationId}/evaluations:
    post:
      tags:
        - Tracking Onboarding Progress
      summary: Schedule probation evaluation meeting round
      description: Schedule evaluation meeting round (`evaluation_round`) and specify meeting location.
      parameters:
        - name: probationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [evaluation_round, scheduled_at, meeting_location]
              properties:
                evaluation_round:
                  type: integer
                  example: 1
                scheduled_at:
                  type: string
                  format: date-time
                  example: "2026-10-25T10:00:00Z"
                meeting_location:
                  type: string
                  example: "Meeting Room A / MS Teams Link"
      responses:
        '201':
          description: Evaluation meeting scheduled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Evaluation'

  /probation/evaluations/{evaluationId}/reviewers:
    post:
      tags:
        - Tracking Onboarding Progress
      summary: Submit reviewer feedback & numerical score
      description: Review panel member submits recommendation, text feedback, and numerical score.
      parameters:
        - name: evaluationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reviewer_user_id, recommendation, score]
              properties:
                reviewer_user_id:
                  type: integer
                  format: int64
                  example: 5
                recommendation:
                  type: string
                  enum: [RECOMMEND_PASS, RECOMMEND_EXTEND, RECOMMEND_TERMINATE]
                  example: "RECOMMEND_PASS"
                feedback:
                  type: string
                  example: "Excellent technical output and teamwork."
                score:
                  type: number
                  format: decimal
                  example: 4.8
      responses:
        '200':
          description: Reviewer submission recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationReviewer'

  /probation/evaluations/{evaluationId}/finalize:
    post:
      tags:
        - Tracking Onboarding Progress
      summary: Finalize probation evaluation
      description: Record evaluation summary and final result (`PASSED`, `EXTENDED`, `TERMINATED`). A passed result enables creation of an official contract through Contract Management.
      parameters:
        - name: evaluationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [result, summary]
              properties:
                result:
                  type: string
                  enum: [PASSED, EXTENDED, TERMINATED]
                  example: "PASSED"
                summary:
                  type: string
                  example: "Candidate passed probation evaluation unanimously and is eligible for an official contract."
      responses:
        '200':
          description: Probation evaluation finalized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Evaluation'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Candidate:
      type: object
      properties:
        candidate_id:
          type: integer
          format: int64
          example: 1001
        full_name:
          type: string
          example: "John Doe"
        email:
          type: string
          format: email
          example: "john.doe@example.com"
        phone:
          type: string
          example: "+84901234567"
        address:
          type: string
          example: "123 Main St, Ho Chi Minh City"
        cv_url:
          type: string
          example: "https://storage.copilothr.com/cvs/john_doe_cv.pdf"
        source:
          type: string
          example: "LinkedIn"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Position:
      type: object
      properties:
        position_id:
          type: integer
          format: int64
          example: 201
        position_name:
          type: string
          example: "Senior Backend Engineer"
        department_name:
          type: string
          example: "Engineering"
        employment_type:
          type: string
          example: "FULL_TIME"
        status:
          type: string
          example: "ACTIVE"

    ApplicationStage:
      type: object
      properties:
        application_stage_id:
          type: integer
          format: int64
          example: 3
        stage_name:
          type: string
          example: "Technical Interview"
        stage_order:
          type: integer
          example: 3
        description:
          type: string
          example: "In-depth technical coding interview round"

    User:
      type: object
      properties:
        user_id:
          type: integer
          format: int64
          example: 50
        team_id:
          type: integer
          format: int64
          example: 10
        full_name:
          type: string
          example: "Sarah Jenkins"
        email:
          type: string
          format: email
          example: "sarah.j@copilothr.com"
        status:
          type: string
          example: "ACTIVE"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Application:
      type: object
      properties:
        application_id:
          type: integer
          format: int64
          example: 5001
        candidate_id:
          type: integer
          format: int64
          example: 1001
        position_id:
          type: integer
          format: int64
          example: 201
        application_stage_id:
          type: integer
          format: int64
          example: 3
        owner_user_id:
          type: integer
          format: int64
          example: 50
        status:
          type: string
          example: "INTERVIEWING"
        applied_at:
          type: string
          format: date-time
        moved_to_stage_at:
          type: string
          format: date-time
        rejected_at:
          type: string
          format: date-time
        rejection_reason:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateApplicationRequest:
      type: object
      required: [candidate_id, position_id, application_stage_id, owner_user_id]
      properties:
        candidate_id:
          type: integer
          format: int64
        position_id:
          type: integer
          format: int64
        application_stage_id:
          type: integer
          format: int64
        owner_user_id:
          type: integer
          format: int64

    ApplicationDetail:
      allOf:
        - $ref: '#/components/schemas/Application'
        - type: object
          properties:
            candidate:
              $ref: '#/components/schemas/Candidate'
            position:
              $ref: '#/components/schemas/Position'
            stage:
              $ref: '#/components/schemas/ApplicationStage'

    Interview:
      type: object
      properties:
        interview_id:
          type: integer
          format: int64
          example: 301
        application_id:
          type: integer
          format: int64
          example: 5001
        interviewer_user_id:
          type: integer
          format: int64
          example: 50
        interview_round:
          type: string
          example: "Round 2 - Architecture"
        interview_type:
          type: string
          example: "ONLINE"
        scheduled_at:
          type: string
          format: date-time
          example: "2026-08-20T14:00:00Z"
        duration_minutes:
          type: integer
          example: 60
        location:
          type: string
          example: "MS Teams"
        meeting_link:
          type: string
          example: "https://teams.microsoft.com/l/meetup/123"
        status:
          type: string
          example: "SCHEDULED"
        notes:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateInterviewRequest:
      type: object
      required: [interviewer_user_id, interview_round, interview_type, scheduled_at, duration_minutes]
      properties:
        interviewer_user_id:
          type: integer
          format: int64
        interview_round:
          type: string
        interview_type:
          type: string
        scheduled_at:
          type: string
          format: date-time
        duration_minutes:
          type: integer
        location:
          type: string
        meeting_link:
          type: string

    ApplicationEvaluation:
      type: object
      properties:
        evaluation_id:
          type: integer
          format: int64
          example: 801
        application_id:
          type: integer
          format: int64
          example: 5001
        evaluator_user_id:
          type: integer
          format: int64
          example: 50
        technical_score:
          type: integer
          example: 5
        experience_score:
          type: integer
          example: 4
        communication_score:
          type: integer
          example: 5
        culture_fit_score:
          type: integer
          example: 5
        overall_score:
          type: number
          format: decimal
          example: 4.75
        recommendation:
          type: string
          example: "HIRE"
        comment:
          type: string
          example: "Strong candidate with solid distributed systems experience."
        created_at:
          type: string
          format: date-time

    CreateApplicationEvaluationRequest:
      type: object
      required: [evaluator_user_id, technical_score, experience_score, communication_score, culture_fit_score, recommendation]
      properties:
        evaluator_user_id:
          type: integer
          format: int64
        technical_score:
          type: integer
        experience_score:
          type: integer
        communication_score:
          type: integer
        culture_fit_score:
          type: integer
        recommendation:
          type: string
          enum: [HIRE, REJECT, SECOND_OPINION]
        comment:
          type: string

    OfferTemplate:
      type: object
      properties:
        offer_template_id:
          type: integer
          format: int64
          example: 10
        template_name:
          type: string
          example: "Standard Software Engineer Offer Template 2026"
        status:
          type: string
          example: "ACTIVE"
        content:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    EmailTemplate:
      type: object
      properties:
        email_template_id:
          type: integer
          format: int64
          example: 15
        template_name:
          type: string
          example: "Candidate Offer Invitation Email"
        subject:
          type: string
          example: "Job Offer - Copilot HR"
        content:
          type: string
        status:
          type: string
          example: "ACTIVE"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CandidateFormTemplate:
      type: object
      properties:
        candidate_form_template_id:
          type: integer
          format: int64
          example: 5
        template_name:
          type: string
          example: "Standard Employee Intake Form"
        status:
          type: string
          example: "ACTIVE"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Offer:
      type: object
      properties:
        offer_id:
          type: integer
          format: int64
          example: 7001
        application_id:
          type: integer
          format: int64
          example: 5001
        offer_template_id:
          type: integer
          format: int64
          example: 10
        email_template_id:
          type: integer
          format: int64
          example: 15
        candidate_form_template_id:
          type: integer
          format: int64
          example: 5
        owner_user_id:
          type: integer
          format: int64
          example: 12
        offer_code:
          type: string
          example: "OFF-2026-0089"
        version_number:
          type: integer
          example: 1
        status:
          type: string
          enum: [DRAFT, SENT, ACCEPTED, DECLINED, EXPIRED]
          example: "SENT"
        salary_amount:
          type: number
          format: decimal
          example: 3500.00
        salary_currency:
          type: string
          example: "USD"
        response_deadline:
          type: string
          format: date-time
          example: "2026-08-30T23:59:59Z"
        proposed_start_date:
          type: string
          format: date
          example: "2026-09-01"
        final_start_date:
          type: string
          format: date
          example: "2026-09-01"
        sent_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateOfferRequest:
      type: object
      required: [application_id, offer_template_id, email_template_id, candidate_form_template_id, owner_user_id, salary_amount, salary_currency, response_deadline]
      properties:
        application_id:
          type: integer
          format: int64
        offer_template_id:
          type: integer
          format: int64
        email_template_id:
          type: integer
          format: int64
        candidate_form_template_id:
          type: integer
          format: int64
        owner_user_id:
          type: integer
          format: int64
        salary_amount:
          type: number
          format: decimal
        salary_currency:
          type: string
        response_deadline:
          type: string
          format: date-time
        proposed_start_date:
          type: string
          format: date

    OfferResponse:
      type: object
      properties:
        offer_response_id:
          type: integer
          format: int64
          example: 901
        offer_id:
          type: integer
          format: int64
          example: 7001
        response_type:
          type: string
          enum: [ACCEPTED, DECLINED, NEGOTIATING]
          example: "ACCEPTED"
        message:
          type: string
          example: "Delighted to join!"
        responded_at:
          type: string
          format: date-time

    OnboardingSubmission:
      type: object
      properties:
        submission_id:
          type: integer
          format: int64
          example: 4001
        offer_id:
          type: integer
          format: int64
          example: 7001
        status:
          type: string
          enum: [SUBMITTED, PROCESSED, APPROVED, REJECTED]
          example: "SUBMITTED"
        submitted_at:
          type: string
          format: date-time
        processed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SubmissionDocument:
      type: object
      properties:
        document_id:
          type: integer
          format: int64
          example: 601
        submission_id:
          type: integer
          format: int64
          example: 4001
        document_type:
          type: string
          example: "NATIONAL_ID"
        file_name:
          type: string
          example: "identity_card.pdf"
        file_url:
          type: string
          example: "https://storage.copilothr.com/docs/4001/identity_card.pdf"
        upload_status:
          type: string
          example: "COMPLETED"
        extraction_status:
          type: string
          example: "SUCCESS"
        verification_status:
          type: string
          example: "VERIFIED"
        uploaded_at:
          type: string
          format: date-time

    FieldMapping:
      type: object
      properties:
        field_mapping_id:
          type: integer
          format: int64
          example: 1201
        submission_id:
          type: integer
          format: int64
          example: 4001
        source_field:
          type: string
          example: "id_number"
        source_value:
          type: string
          example: "0123456789"
        target_field:
          type: string
          example: "employee.identity_card_number"
        mapped_value:
          type: string
          example: "0123456789"
        confidence_score:
          type: number
          format: decimal
          example: 0.98
        mapping_status:
          type: string
          example: "VERIFIED"
        corrected_value:
          type: string

    GeneratedOutput:
      type: object
      properties:
        generated_output_id:
          type: integer
          format: int64
          example: 501
        submission_id:
          type: integer
          format: int64
          example: 4001
        output_type:
          type: string
          example: "PROBATION_CONTRACT_PDF"
        output_name:
          type: string
          example: "Probation_Contract_John_Doe.pdf"
        status:
          type: string
          example: "GENERATED"
        generated_at:
          type: string
          format: date-time

    IntakeReview:
      type: object
      properties:
        intake_review_id:
          type: integer
          format: int64
          example: 3301
        submission_id:
          type: integer
          format: int64
          example: 4001
        reviewer_user_id:
          type: integer
          format: int64
          example: 12
        status:
          type: string
          enum: [APPROVED, REJECTED, NEEDS_REVISION]
          example: "APPROVED"
        review_notes:
          type: string
          example: "Verified against original documents."
        reviewed_at:
          type: string
          format: date-time
        approved_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SubmissionDetail:
      allOf:
        - $ref: '#/components/schemas/OnboardingSubmission'
        - type: object
          properties:
            documents:
              type: array
              items:
                $ref: '#/components/schemas/SubmissionDocument'
            field_mappings:
              type: array
              items:
                $ref: '#/components/schemas/FieldMapping'
            generated_outputs:
              type: array
              items:
                $ref: '#/components/schemas/GeneratedOutput'

    Employee:
      type: object
      properties:
        employee_id:
          type: integer
          format: int64
          example: 505
        candidate_id:
          type: integer
          format: int64
          example: 1001
        manager_user_id:
          type: integer
          format: int64
          example: 50
        employee_code:
          type: string
          example: "EMP-2026-0042"
        work_email:
          type: string
          example: "john.doe@company.com"
        work_location:
          type: string
          example: "Headquarters - Building A"
        employment_status:
          type: string
          example: "PROBATION"
        joined_at:
          type: string
          format: date
          example: "2026-09-01"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    OnboardingStage:
      type: object
      properties:
        onboarding_stage_id:
          type: integer
          format: int64
          example: 1
        stage_name:
          type: string
          example: "Pre-Boarding"
        stage_order:
          type: integer
          example: 1
        description:
          type: string
          example: "Tasks & readiness prior to employee joining date"

    OnboardingCase:
      type: object
      properties:
        onboarding_case_id:
          type: integer
          format: int64
          example: 9001
        offer_id:
          type: integer
          format: int64
          example: 7001
        employee_id:
          type: integer
          format: int64
          example: 505
        onboarding_stage_id:
          type: integer
          format: int64
          example: 1
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH, URGENT]
          example: "HIGH"
        status:
          type: string
          example: "IN_PROGRESS"
        planned_start_date:
          type: string
          format: date
          example: "2026-09-01"
        actual_start_date:
          type: string
          format: date
          example: "2026-09-01"
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateOnboardingCaseRequest:
      type: object
      required: [offer_id, employee_id, onboarding_stage_id, priority, planned_start_date]
      properties:
        offer_id:
          type: integer
          format: int64
        employee_id:
          type: integer
          format: int64
        onboarding_stage_id:
          type: integer
          format: int64
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH, URGENT]
        planned_start_date:
          type: string
          format: date

    OnboardingTask:
      type: object
      properties:
        onboarding_task_id:
          type: integer
          format: int64
          example: 1501
        onboarding_case_id:
          type: integer
          format: int64
          example: 9001
        task_template_id:
          type: integer
          format: int64
          example: 10
        task_name:
          type: string
          example: "Setup System Profile on External HR System"
        description:
          type: string
        status:
          type: string
          enum: [NOT_STARTED, IN_PROGRESS, COMPLETED, BLOCKED]
          example: "IN_PROGRESS"
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH, URGENT]
          example: "HIGH"
        due_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ReadinessChecklistItem:
      type: object
      properties:
        readiness_item_id:
          type: integer
          format: int64
          example: 2201
        onboarding_case_id:
          type: integer
          format: int64
          example: 9001
        item_name:
          type: string
          example: "Laptop Workstation Provisioned"
        description:
          type: string
        status:
          type: string
          enum: [PENDING, IN_PROGRESS, COMPLETED]
          example: "COMPLETED"
        is_required:
          type: boolean
          example: true
        completed_at:
          type: string
          format: date-time

    OnboardingBlocker:
      type: object
      properties:
        blocker_id:
          type: integer
          format: int64
          example: 1101
        onboarding_case_id:
          type: integer
          format: int64
          example: 9001
        onboarding_task_id:
          type: integer
          format: int64
          example: 1501
        blocker_type:
          type: string
          example: "HARDWARE_VENDOR_DELAY"
        description:
          type: string
          example: "Laptop delivery delayed by vendor."
        status:
          type: string
          enum: [OPEN, IN_PROGRESS, RESOLVED]
          example: "OPEN"
        severity:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
          example: "HIGH"
        reported_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time

    OnboardingCaseDetail:
      allOf:
        - $ref: '#/components/schemas/OnboardingCase'
        - type: object
          properties:
            stage:
              $ref: '#/components/schemas/OnboardingStage'
            tasks:
              type: array
              items:
                $ref: '#/components/schemas/OnboardingTask'
            readiness_checklist:
              type: array
              items:
                $ref: '#/components/schemas/ReadinessChecklistItem'
            blockers:
              type: array
              items:
                $ref: '#/components/schemas/OnboardingBlocker'

    TaskTemplate:
      type: object
      properties:
        task_template_id:
          type: integer
          format: int64
          example: 10
        task_name:
          type: string
          example: "Setup System Profile on External HR System"
        description:
          type: string
        default_priority:
          type: string
          example: "HIGH"
        default_due_days:
          type: integer
          example: 3
        status:
          type: string
          example: "ACTIVE"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Team:
      type: object
      properties:
        team_id:
          type: integer
          format: int64
          example: 10
        team_name:
          type: string
          example: "Payroll & IT Support"
        description:
          type: string
        status:
          type: string
          example: "ACTIVE"

    Role:
      type: object
      properties:
        role_id:
          type: integer
          format: int64
          example: 3
        role_name:
          type: string
          example: "HR_STAFF"
        description:
          type: string

    UserRole:
      type: object
      properties:
        user_id:
          type: integer
          format: int64
        role_id:
          type: integer
          format: int64
        assigned_at:
          type: string
          format: date-time

    TaskAssignment:
      type: object
      properties:
        task_assignment_id:
          type: integer
          format: int64
          example: 4401
        onboarding_task_id:
          type: integer
          format: int64
          example: 1501
        assigned_user_id:
          type: integer
          format: int64
          example: 88
        assigned_by_user_id:
          type: integer
          format: int64
          example: 12
        assignment_status:
          type: string
          example: "ASSIGNED"
        assigned_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    TaskComment:
      type: object
      properties:
        task_comment_id:
          type: integer
          format: int64
          example: 801
        onboarding_task_id:
          type: integer
          format: int64
          example: 1501
        author_user_id:
          type: integer
          format: int64
          example: 88
        comment:
          type: string
          example: "Equipment ordered and shipped to candidate home address."
        created_at:
          type: string
          format: date-time

    ContractTemplate:
      type: object
      properties:
        contract_template_id:
          type: integer
          format: int64
          example: 210
        template_name:
          type: string
          example: "Standard Probation Contract 2026"
        contract_type:
          type: string
          enum: [PROBATION, OFFICIAL]
          example: "PROBATION"
        content:
          type: string
        status:
          type: string
          enum: [ACTIVE, INACTIVE]
          example: "ACTIVE"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Contract:
      type: object
      properties:
        contract_id:
          type: integer
          format: int64
          example: 9901
        onboarding_case_id:
          type: integer
          format: int64
          example: 9001
        contract_template_id:
          type: integer
          format: int64
          example: 210
        owner_user_id:
          type: integer
          format: int64
          example: 12
        contract_code:
          type: string
          example: "CON-2026-0042"
        contract_type:
          type: string
          enum: [PROBATION, OFFICIAL]
          example: "PROBATION"
        status:
          type: string
          enum: [DRAFT, IN_REVIEW, READY_TO_SIGN, SIGNED, CANCELLED]
          example: "IN_REVIEW"
        effective_date:
          type: string
          format: date
          example: "2026-09-01"
        expiration_date:
          type: string
          format: date
          example: "2026-11-01"
        document_url:
          type: string
          example: "https://storage.copilothr.com/contracts/CON-2026-0042.pdf"
        signed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateContractRequest:
      type: object
      required: [onboarding_case_id, contract_template_id, owner_user_id, contract_type, effective_date]
      properties:
        onboarding_case_id:
          type: integer
          format: int64
        contract_template_id:
          type: integer
          format: int64
        owner_user_id:
          type: integer
          format: int64
        contract_type:
          type: string
          enum: [PROBATION, OFFICIAL]
        effective_date:
          type: string
          format: date
        expiration_date:
          type: string
          format: date

    UpdateContractRequest:
      type: object
      properties:
        contract_template_id:
          type: integer
          format: int64
        owner_user_id:
          type: integer
          format: int64
        effective_date:
          type: string
          format: date
        expiration_date:
          type: string
          format: date
        document_url:
          type: string

    ContractApproval:
      type: object
      properties:
        contract_approval_id:
          type: integer
          format: int64
          example: 7601
        contract_id:
          type: integer
          format: int64
          example: 9901
        approver_user_id:
          type: integer
          format: int64
          example: 5
        requested_by_user_id:
          type: integer
          format: int64
          example: 12
        status:
          type: string
          enum: [PENDING, APPROVED, REJECTED, CHANGES_REQUESTED]
          example: "PENDING"
        comment:
          type: string
        requested_at:
          type: string
          format: date-time
        reviewed_at:
          type: string
          format: date-time

    CreateContractApprovalRequest:
      type: object
      required: [approver_user_id, requested_by_user_id]
      properties:
        approver_user_id:
          type: integer
          format: int64
        requested_by_user_id:
          type: integer
          format: int64
        comment:
          type: string

    Probation:
      type: object
      properties:
        probation_id:
          type: integer
          format: int64
          example: 3001
        onboarding_case_id:
          type: integer
          format: int64
          example: 9001
        start_date:
          type: string
          format: date
          example: "2026-09-01"
        end_date:
          type: string
          format: date
          example: "2026-11-01"
        status:
          type: string
          enum: [ACTIVE, IN_REVIEW, PASSED, EXTENDED, TERMINATED]
          example: "ACTIVE"
        extension_count:
          type: integer
          example: 0
        completed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SelfReview:
      type: object
      properties:
        self_review_id:
          type: integer
          format: int64
          example: 6101
        probation_id:
          type: integer
          format: int64
          example: 3001
        status:
          type: string
          enum: [DRAFT, SUBMITTED]
          example: "SUBMITTED"
        due_at:
          type: string
          format: date-time
        requested_at:
          type: string
          format: date-time
        submitted_at:
          type: string
          format: date-time
        review_content:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Evaluation:
      type: object
      properties:
        evaluation_id:
          type: integer
          format: int64
          example: 8801
        probation_id:
          type: integer
          format: int64
          example: 3001
        evaluation_round:
          type: integer
          example: 1
        scheduled_at:
          type: string
          format: date-time
          example: "2026-10-25T10:00:00Z"
        meeting_location:
          type: string
          example: "Meeting Room A"
        status:
          type: string
          enum: [SCHEDULED, IN_PROGRESS, COMPLETED]
          example: "COMPLETED"
        result:
          type: string
          enum: [PASSED, EXTENDED, TERMINATED]
          example: "PASSED"
        summary:
          type: string
        completed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    EvaluationReviewer:
      type: object
      properties:
        evaluation_id:
          type: integer
          format: int64
          example: 8801
        reviewer_user_id:
          type: integer
          format: int64
          example: 5
        recommendation:
          type: string
          enum: [RECOMMEND_PASS, RECOMMEND_EXTEND, RECOMMEND_TERMINATE]
          example: "RECOMMEND_PASS"
        feedback:
          type: string
        score:
          type: number
          format: decimal
          example: 4.8
        submitted_at:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      required: [code, message, timestamp]
      properties:
        code:
          type: string
          example: "INVALID_REQUEST_DATA"
        message:
          type: string
          example: "The provided request body failed schema validation."
        details:
          type: array
          items:
            type: string
        timestamp:
          type: string
          format: date-time

  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'