openapi: 3.2.0
info:
  title: Copilot.HR - People Management API Suite
  description: Comprehensive OpenAPI 3.2.0 specification for the entire People Management module, including Employee Directory & 360° Profiles, HR Request Management & Workflows, Organization & Department Structures, Positions, Teams, and Reporting Lines.
  version: 1.0.0
  contact:
    name: Copilot.HR Engineering Team
    email: dev@copilot.hr

servers:
  - url: https://api.copilot.hr/v1
    description: Production API Server
  - url: http://localhost:8080/api/v1
    description: Local Development Server

tags:
  - name: Employees
    description: Employee directory management and 360° profile operations
  - name: Contracts
    description: Labor contract management and salary history
  - name: Documents
    description: Verification documents and identity record uploads
  - name: Leave & Quotas
    description: Annual and sick leave entitlement balances
  - name: Audit History
    description: Change logs and career audit trail
  - name: Requests
    description: Employee HR request creation, filtering, and management
  - name: Approvals
    description: Multi-level approval routing, decision processing (Approve/Reject), and cancellations
  - name: Tracking
    description: Real-time request timeline tracking and approval log audits
  - name: Departments
    description: Department hierarchy tree, creation, editing, and org restructuring
  - name: Positions
    description: Position titles, job levels (L1-L6), and salary bands
  - name: Teams
    description: Cross-functional project teams and member allocation
  - name: Reporting Lines
    description: Direct report manager and matrix supervisor hierarchy management

paths:
  # =========================================================================
  # 1. EMPLOYEE DIRECTORY & PROFILE APIS
  # =========================================================================
  /employees:
    get:
      tags:
        - Employees
      summary: Search and list employee directory
      description: Retrieve a paginated list of employees with search and department/status filtering options.
      parameters:
        - name: query
          in: query
          description: Search by name, employee code, email, or job title
          required: false
          schema:
            type: string
            example: "Lucia"
        - name: department
          in: query
          description: Filter by department name
          required: false
          schema:
            type: string
            example: "Human Resources"
        - name: status
          in: query
          description: Filter by employment status
          required: false
          schema:
            type: string
            enum: [Active, Probation, On Leave, Terminated]
            example: "Active"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Successfully fetched employee directory list
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    example: 428
                  page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmployeeSummary'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags:
        - Employees
      summary: Create a new employee profile
      description: Register a new employee profile into the system directory.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmployeeInput'
      responses:
        '201':
          description: Employee created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeProfile'
        '400':
          description: Validation error or duplicate email/code

  /employees/{id}:
    get:
      tags:
        - Employees
      summary: Get full 360° employee profile
      description: Retrieve comprehensive employee profile metadata including demographics, org placement, manager, and balances.
      parameters:
        - name: id
          in: path
          required: true
          description: Unique Employee ID (e.g., EMP-8021)
          schema:
            type: string
            example: "EMP-8021"
      responses:
        '200':
          description: Employee profile details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeProfile'
        '404':
          description: Employee not found

    put:
      tags:
        - Employees
      summary: Update employee profile
      description: Update personal demographics, work location, or job details for an existing employee.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeInput'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeProfile'

    delete:
      tags:
        - Employees
      summary: Deactivate employee profile
      description: Deactivate or offboard an employee account.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Employee account deactivated successfully

  /employees/{id}/contracts:
    get:
      tags:
        - Contracts
      summary: Get labor contracts list
      description: Retrieve contract history and compensation terms for an employee.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contracts list retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LaborContract'

    post:
      tags:
        - Contracts
      summary: Add new labor contract
      description: Register a new labor contract with base salary and start date.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractInput'
      responses:
        '201':
          description: Contract added successfully

  /employees/{id}/documents:
    get:
      tags:
        - Documents
      summary: Get uploaded verification documents
      description: Fetch national ID, medical clearance, and tax registration document files.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Documents list retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmployeeDocument'

    post:
      tags:
        - Documents
      summary: Upload verification document
      description: Upload a new verification document for an employee.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                documentType:
                  type: string
                  example: "Identity Document"
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Document uploaded successfully

  /leave-types:
    get:
      tags:
        - Leave & Quotas
      summary: List all configured leave categories
      description: Retrieve all system-defined leave types, paid status, and default annual entitlement quotas.
      responses:
        '200':
          description: Leave types list retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LeaveTypeItem'

    post:
      tags:
        - Leave & Quotas
      summary: Create a new leave category
      description: Define a new leave category with default annual quotas and paid status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
                - name
              properties:
                code:
                  type: string
                  example: "COMPENSATORY"
                name:
                  type: string
                  example: "Compensatory Leave"
                isPaid:
                  type: boolean
                  default: true
                defaultDaysPerYear:
                  type: number
                  example: 5.0
      responses:
        '201':
          description: Leave category created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveTypeItem'

  /employees/{id}/leave-balance:
    get:
      tags:
        - Leave & Quotas
      summary: Get leave entitlement balances
      description: Retrieve detailed leave entitlement balances, allocated quotas, carried over days, used days, and pending approval days across all leave types for the current year.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Leave balances retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveBalance'

  /employees/{id}/history:
    get:
      tags:
        - Audit History
      summary: Get audit trail and history log
      description: Fetch career promotions, position updates, and contract signing history.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Audit history retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditHistoryItem'

  /employees/export:
    post:
      tags:
        - Employees
      summary: Export employee records
      description: Export filtered employee directory records to CSV or Excel.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                department:
                  type: string
                fileFormat:
                  type: string
                  enum: [csv, xlsx]
                  default: csv
      responses:
        '200':
          description: Export file generated successfully

  # =========================================================================
  # 2. REQUEST MANAGEMENT APIS
  # =========================================================================
  /requests:
    get:
      tags:
        - Requests
      summary: List and filter employee HR requests
      description: Retrieve a paginated list of HR requests filtered by request type, approval status, or date range.
      parameters:
        - name: type
          in: query
          description: Request type category
          required: false
          schema:
            type: string
            enum: [Leave, Equipment, Policy, Overtime, Training]
            example: "Leave"
        - name: status
          in: query
          description: Filter by approval status
          required: false
          schema:
            type: string
            enum: [Pending, Approved, Rejected, Cancelled, Draft]
            example: "Pending"
        - name: applicantId
          in: query
          description: Filter by applicant employee ID
          required: false
          schema:
            type: string
            example: "EMP-8021"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Requests list fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    example: 27
                  page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RequestSummary'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags:
        - Requests
      summary: Submit a new HR request
      description: Submit a new HR request with automatic quota check and workflow routing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequestInput'
      responses:
        '201':
          description: HR Request submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestDetail'
        '400':
          description: Invalid parameters or insufficient leave quota balance

  /requests/{id}:
    get:
      tags:
        - Requests
      summary: Get HR request details
      description: Retrieve full request metadata, applicant info, approval steps, and attached proof files.
      parameters:
        - name: id
          in: path
          required: true
          description: Unique Request Code (e.g., REQ-1092)
          schema:
            type: string
            example: "REQ-1092"
      responses:
        '200':
          description: Request details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestDetail'
        '404':
          description: Request not found

    put:
      tags:
        - Requests
      summary: Update draft request
      description: Modify an existing draft HR request prior to submission.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequestInput'
      responses:
        '200':
          description: Request updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestDetail'

  /requests/{id}/approve:
    post:
      tags:
        - Approvals
      summary: Approve HR request
      description: Approve a pending request step. Automatically advances workflow to next approver or executes final approval.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  example: "Approved. Enjoy your vacation!"
      responses:
        '200':
          description: Request step approved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestDetail'

  /requests/{id}/reject:
    post:
      tags:
        - Approvals
      summary: Reject HR request
      description: Reject a pending request with mandatory reviewer feedback comments.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  example: "Overlap with critical release milestone week. Please reschedule."
      responses:
        '200':
          description: Request rejected successfully

  /requests/{id}/cancel:
    post:
      tags:
        - Approvals
      summary: Cancel HR request
      description: Cancel a submitted request by the applicant prior to final approval execution.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Request cancelled successfully

  /requests/{id}/timeline:
    get:
      tags:
        - Tracking
      summary: Get real-time workflow tracking timeline
      description: Retrieve step-by-step progress tracker timeline, reviewer audit logs, and approval timestamps.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workflow timeline log retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimelineStep'

  /requests/quotas/check:
    get:
      tags:
        - Quotas
      summary: Validate leave quota availability
      description: Validate available annual or sick leave balance before submitting a leave request.
      parameters:
        - name: applicantId
          in: query
          required: true
          schema:
            type: string
            example: "EMP-8021"
        - name: leaveTypeCode
          in: query
          required: true
          description: Leave type code (e.g. ANNUAL, SICK, MATERNITY, COMPENSATORY)
          schema:
            type: string
            enum: [ANNUAL, SICK, MATERNITY, COMPENSATORY]
            example: "ANNUAL"
        - name: requestedDays
          in: query
          required: true
          schema:
            type: number
            example: 3.0
      responses:
        '200':
          description: Quota validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  isValid:
                    type: boolean
                    example: true
                  remainingBalance:
                    type: number
                    example: 14.0
                  requestedDays:
                    type: number
                    example: 3.0
                  message:
                    type: string
                    example: "Sufficient leave quota balance."

  # =========================================================================
  # 3. ORGANIZATION & DEPARTMENT APIS
  # =========================================================================
  /departments:
    get:
      tags:
        - Departments
      summary: Get department tree and roster list
      description: Retrieve the interactive organizational tree hierarchy and department roster metrics.
      parameters:
        - name: branch
          in: query
          description: Filter by primary location branch
          required: false
          schema:
            type: string
            enum: [all, hq, hn, dn, remote]
            example: "hq"
      responses:
        '200':
          description: Department tree and roster retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepartmentNode'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags:
        - Departments
      summary: Create a new department
      description: Register a new operational department entity into the organizational structure.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDepartmentInput'
      responses:
        '201':
          description: Department created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentNode'

  /departments/{id}:
    get:
      tags:
        - Departments
      summary: Get department details
      description: Fetch comprehensive department information, department lead, headcount, and budget allocation.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: "DEPT-HR"
      responses:
        '200':
          description: Department details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentDetail'
        '404':
          description: Department not found

    put:
      tags:
        - Departments
      summary: Update department information
      description: Modify department name, parent division, department lead, or location branch.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDepartmentInput'
      responses:
        '200':
          description: Department updated successfully

    delete:
      tags:
        - Departments
      summary: Archive or delete department
      description: Archive an existing department entity.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Department archived successfully

  /departments/restructure:
    post:
      tags:
        - Departments
      summary: Submit Org Tree drag-and-drop restructuring request
      description: Queue an organizational restructuring or employee reassignment drag-and-drop event for Director/CEO approval.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestructureRequestInput'
      responses:
        '202':
          description: Restructuring request submitted successfully and pending Director approval
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                    example: "REST-901"
                  status:
                    type: string
                    example: "Pending CEO Approval"
                  message:
                    type: string
                    example: "Restructuring request queued for CEO (Luu Duong) approval."

  /positions:
    get:
      tags:
        - Positions
      summary: Get position titles and salary bands
      description: Retrieve all defined organizational job titles, competency levels (L1-L6), and salary band ranges.
      responses:
        '200':
          description: Positions list retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PositionItem'

    post:
      tags:
        - Positions
      summary: Define a new position title
      description: Create a new job position title with assigned salary band and job level.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePositionInput'
      responses:
        '201':
          description: Position created successfully

  /positions/{id}:
    put:
      tags:
        - Positions
      summary: Update position details
      description: Update job description, level, or salary band for a position title.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePositionInput'
      responses:
        '200':
          description: Position updated successfully

  /teams:
    get:
      tags:
        - Teams
      summary: List cross-functional project teams
      description: Retrieve all active project teams, designated team leads, and member counts.
      responses:
        '200':
          description: Teams list retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamItem'

    post:
      tags:
        - Teams
      summary: Create a new project team
      description: Register a new cross-functional project team.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamInput'
      responses:
        '201':
          description: Team created successfully

  /teams/{id}/members:
    post:
      tags:
        - Teams
      summary: Assign or remove team members
      description: Manage member allocations within a project team.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - employeeId
                - action
              properties:
                employeeId:
                  type: string
                  example: "EMP-8021"
                action:
                  type: string
                  enum: [ASSIGN, REMOVE]
                  example: "ASSIGN"
      responses:
        '200':
          description: Team membership updated successfully

  /reporting-lines:
    get:
      tags:
        - Reporting Lines
      summary: Get hierarchy matrix and reporting relationships
      description: Fetch supervisor relationships across direct managers and functional matrix line managers.
      responses:
        '200':
          description: Reporting lines matrix retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportingLineItem'

    put:
      tags:
        - Reporting Lines
      summary: Reassign line manager or matrix supervisor
      description: Update direct report supervisor or functional line manager for an employee.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - employeeId
                - newManagerId
              properties:
                employeeId:
                  type: string
                  example: "EMP-8021"
                newManagerId:
                  type: string
                  example: "EMP-8026"
                reportingType:
                  type: string
                  enum: [DIRECT, MATRIX]
                  default: DIRECT
      responses:
        '200':
          description: Line manager reassigned successfully

components:
  schemas:
    # 1. Employee Directory Schemas
    EmployeeSummary:
      type: object
      properties:
        id:
          type: string
          example: "EMP-8021"
        fullName:
          type: string
          example: "Alex Morgan"
        jobTitle:
          type: string
          example: "Senior Software Engineer"
        department:
          type: string
          example: "Technology & Software"
        email:
          type: string
          example: "alex.morgan@copilot.hr"
        status:
          type: string
          example: "Active"
        hireDate:
          type: string
          example: "2021-01-15"

    EmployeeProfile:
      type: object
      properties:
        id:
          type: string
          example: "EMP-8021"
        fullName:
          type: string
          example: "Alex Morgan"
        dateOfBirth:
          type: string
          example: "1994-10-14"
        gender:
          type: string
          example: "Female"
        nationalId:
          type: string
          example: "079194008921"
        corporateEmail:
          type: string
          example: "alex.morgan@copilot.hr"
        personalEmail:
          type: string
          example: "alex.morgan.personal@gmail.com"
        phoneNumber:
          type: string
          example: "+84 901 234 567"
        jobTitle:
          type: string
          example: "Senior Software Engineer"
        jobLevel:
          type: string
          example: "Level 4 (Senior Specialist)"
        department:
          type: string
          example: "Technology & Software"
        team:
          type: string
          example: "Frontend Core Framework Team"
        directManager:
          type: string
          example: "Sarah Jenkins (VP of Engineering)"
        employmentStatus:
          type: string
          example: "Active"

    CreateEmployeeInput:
      type: object
      required:
        - fullName
        - corporateEmail
        - department
        - jobTitle
      properties:
        fullName:
          type: string
          example: "Nguyen Van An"
        employeeCode:
          type: string
          example: "EMP-8029"
        corporateEmail:
          type: string
          example: "an.nguyen@copilot.hr"
        phoneNumber:
          type: string
          example: "+84 912 345 678"
        department:
          type: string
          example: "Technology & Software"
        jobTitle:
          type: string
          example: "Senior Backend Engineer"

    UpdateEmployeeInput:
      type: object
      properties:
        phoneNumber:
          type: string
        personalEmail:
          type: string
        residentialAddress:
          type: string

    LaborContract:
      type: object
      properties:
        contractNumber:
          type: string
          example: "HD-2021-0089"
        contractType:
          type: string
          example: "Indefinite-Term Labor Contract"
        baseSalary:
          type: number
          example: 3500.00
        currency:
          type: string
          example: "USD"
        effectiveDate:
          type: string
          example: "2021-03-15"
        status:
          type: string
          example: "Active"

    CreateContractInput:
      type: object
      required:
        - contractNumber
        - contractType
        - baseSalary
        - effectiveDate
      properties:
        contractNumber:
          type: string
          example: "HD-2026-0102"
        contractType:
          type: string
          example: "Definite-Term Contract (1 Year)"
        baseSalary:
          type: number
          example: 4000.00
        effectiveDate:
          type: string
          example: "2026-09-01"

    EmployeeDocument:
      type: object
      properties:
        documentId:
          type: string
          example: "DOC-901"
        documentName:
          type: string
          example: "National_ID_Card_Front_Back.pdf"
        documentType:
          type: string
          example: "Identity Document"
        uploadedDate:
          type: string
          example: "2021-01-15"

    LeaveTypeItem:
      type: object
      properties:
        leaveTypeId:
          type: string
          example: "LT-ANNUAL"
        code:
          type: string
          example: "ANNUAL"
        name:
          type: string
          example: "Annual Leave"
        isPaid:
          type: boolean
          example: true
        defaultDaysPerYear:
          type: number
          example: 12.0
        status:
          type: string
          example: "Active"

    LeaveBalanceItem:
      type: object
      properties:
        balanceId:
          type: string
          example: "BAL-901"
        leaveTypeId:
          type: string
          example: "LT-ANNUAL"
        leaveTypeCode:
          type: string
          example: "ANNUAL"
        leaveTypeName:
          type: string
          example: "Annual Leave"
        year:
          type: integer
          example: 2026
        allocatedDays:
          type: number
          example: 12.0
        carriedOverDays:
          type: number
          example: 3.0
        usedDays:
          type: number
          example: 4.0
        pendingDays:
          type: number
          example: 1.0
        remainingDays:
          type: number
          example: 10.0

    LeaveBalance:
      type: object
      properties:
        employeeId:
          type: string
          example: "EMP-8021"
        year:
          type: integer
          example: 2026
        balances:
          type: array
          items:
            $ref: '#/components/schemas/LeaveBalanceItem'

    AuditHistoryItem:
      type: object
      properties:
        eventTitle:
          type: string
          example: "Promoted to Senior Software Engineer"
        approvedBy:
          type: string
          example: "Sarah Jenkins"
        timestamp:
          type: string
          example: "2023-03-15T09:00:00Z"

    # 2. Request Management Schemas
    RequestSummary:
      type: object
      properties:
        requestId:
          type: string
          example: "REQ-1092"
        title:
          type: string
          example: "Annual Leave Request (3 Days)"
        requestType:
          type: string
          example: "Leave"
        applicantName:
          type: string
          example: "Lucia Doan"
        applicantId:
          type: string
          example: "EMP-8021"
        status:
          type: string
          example: "Pending"
        submittedDate:
          type: string
          example: "2026-08-10"

    RequestDetail:
      type: object
      properties:
        requestId:
          type: string
          example: "REQ-1092"
        title:
          type: string
          example: "Annual Leave Request (3 Days)"
        requestType:
          type: string
          example: "Leave"
        applicantName:
          type: string
          example: "Lucia Doan"
        applicantId:
          type: string
          example: "EMP-8021"
        department:
          type: string
          example: "Human Resources"
        startDate:
          type: string
          example: "2026-08-15"
        endDate:
          type: string
          example: "2026-08-17"
        totalDays:
          type: number
          example: 3.0
        reason:
          type: string
          example: "Family summer vacation."
        status:
          type: string
          example: "Pending"
        currentApprover:
          type: string
          example: "Sarah Jenkins (VP of Engineering)"
        submittedDate:
          type: string
          example: "2026-08-10T14:30:00Z"

    CreateRequestInput:
      type: object
      required:
        - requestType
        - startDate
        - endDate
        - reason
      properties:
        requestType:
          type: string
          example: "Leave"
        startDate:
          type: string
          example: "2026-08-15"
        endDate:
          type: string
          example: "2026-08-17"
        reason:
          type: string
          example: "Family summer vacation."
        urgencyLevel:
          type: string
          enum: [Normal, Urgent, High]
          default: Normal

    TimelineStep:
      type: object
      properties:
        stepNumber:
          type: integer
          example: 1
        stepName:
          type: string
          example: "Line Manager Approval"
        approverName:
          type: string
          example: "Sarah Jenkins"
        status:
          type: string
          example: "Approved"
        comment:
          type: string
          example: "Approved. Have a great trip!"
        timestamp:
          type: string
          example: "2026-08-11T09:15:00Z"

    # 3. Organization & Department Schemas
    DepartmentNode:
      type: object
      properties:
        id:
          type: string
          example: "DEPT-ENG"
        departmentName:
          type: string
          example: "Technology & Software Engineering"
        parentDepartmentId:
          type: string
          example: "DEPT-EXEC"
        departmentLeadName:
          type: string
          example: "Duy Nguyen (VP Engineering)"
        locationBranch:
          type: string
          example: "Headquarters (HCMC)"
        employeeCount:
          type: integer
          example: 84
        status:
          type: string
          example: "Active"

    DepartmentDetail:
      type: object
      properties:
        id:
          type: string
          example: "DEPT-ENG"
        departmentName:
          type: string
          example: "Technology & Software Engineering"
        parentDepartmentName:
          type: string
          example: "Executive Board & CEO"
        departmentLeadName:
          type: string
          example: "Duy Nguyen"
        locationBranch:
          type: string
          example: "Headquarters (HCMC)"
        annualBudgetUSD:
          type: number
          example: 450000.00
        description:
          type: string
          example: "Responsible for core platform architecture and engineering execution."

    CreateDepartmentInput:
      type: object
      required:
        - departmentName
        - parentDepartmentId
        - departmentLeadId
      properties:
        departmentName:
          type: string
          example: "Quality Assurance (QA)"
        parentDepartmentId:
          type: string
          example: "DEPT-ENG"
        departmentLeadId:
          type: string
          example: "EMP-8022"
        locationBranch:
          type: string
          example: "Headquarters (HCMC)"
        annualBudgetUSD:
          type: number
          example: 150000.00

    RestructureRequestInput:
      type: object
      required:
        - sourceNodeId
        - targetDepartmentId
      properties:
        sourceNodeId:
          type: string
          example: "EMP-8021"
        targetDepartmentId:
          type: string
          example: "DEPT-QA"
        reason:
          type: string
          example: "Reassigning senior engineer to lead QA Automation initiative."

    PositionItem:
      type: object
      properties:
        positionId:
          type: string
          example: "POS-401"
        title:
          type: string
          example: "Senior Software Engineer"
        jobLevel:
          type: string
          example: "Level 4 (Senior Specialist)"
        minSalaryUSD:
          type: number
          example: 2500.00
        maxSalaryUSD:
          type: number
          example: 4000.00

    CreatePositionInput:
      type: object
      required:
        - title
        - jobLevel
        - minSalaryUSD
        - maxSalaryUSD
      properties:
        title:
          type: string
          example: "Lead DevOps Architect"
        jobLevel:
          type: string
          example: "Level 5 (Principal/Lead)"
        minSalaryUSD:
          type: number
          example: 3500.00
        maxSalaryUSD:
          type: number
          example: 5500.00

    TeamItem:
      type: object
      properties:
        teamId:
          type: string
          example: "TEAM-01"
        teamName:
          type: string
          example: "Frontend Core Framework Team"
        teamLeadName:
          type: string
          example: "Alex Morgan"
        memberCount:
          type: integer
          example: 6

    CreateTeamInput:
      type: object
      required:
        - teamName
        - teamLeadId
      properties:
        teamName:
          type: string
          example: "Mobile App Taskforce"
        teamLeadId:
          type: string
          example: "EMP-8022"

    ReportingLineItem:
      type: object
      properties:
        employeeId:
          type: string
          example: "EMP-8021"
        employeeName:
          type: string
          example: "Alex Morgan"
        directManagerName:
          type: string
          example: "Sarah Jenkins (VP of Engineering)"
        matrixSupervisorName:
          type: string
          example: "Dao Vo (CTO)"

  responses:
    UnauthorizedError:
      description: Authentication token is missing or expired
      content:
        application/json:
          schema:
            type: object
            properties:
              errorCode:
                type: string
                example: "UNAUTHORIZED"
              message:
                type: string
                example: "Invalid or expired JWT token."
