openapi: 3.0.3
info:
  title: Attendance Corrections API
  description: >
    Endpoints backing the Workforce > Attendance > Corrections screen
    (manager review of employee timecard correction requests).
  version: "1.0.0"

servers:
  - url: https://api.precisionenterprise.com/v1

security:
  - bearerAuth: []

tags:
  - name: Attendance Corrections
    description: Correction request directory and lifecycle operations.
  - name: Correction Review
    description: Approve/reject decision workflow and review history.
  - name: Attendance Records
    description: Underlying clock in/out records referenced by corrections.
  - name: Correction History
    description: Historical correction requests, scoped by employee or record.
  - name: Reference Data
    description: Read-only lookups used to render the review panel.

paths:
  # ============================================================
  # Attendance Corrections
  # ============================================================
  /attendance-corrections:
    get:
      tags: [Attendance Corrections]
      summary: List attendance corrections
      description: Backs the "Pending Requests" table.
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [pending, approved, rejected], default: pending }
        - name: employee_id
          in: query
          schema: { type: string, format: uuid }
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: page_size
          in: query
          schema: { type: integer, default: 20 }
      responses:
        "200":
          description: Paginated list of corrections
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/AttendanceCorrectionListItem" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
    post:
      tags: [Attendance Corrections]
      summary: Create attendance correction
      description: Employee (or manager on their behalf) submits a new correction request.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AttendanceCorrectionCreate" }
      responses:
        "201":
          description: Created correction
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AttendanceCorrectionDetail" }

  /attendance-corrections/summary:
    get:
      tags: [Attendance Corrections]
      summary: Get correction summary
      description: Backs the 3 stat cards (Pending Review / Approved Today / Rejected Today).
      responses:
        "200":
          description: Correction counts
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AttendanceCorrectionSummary" }

  /attendance-corrections/export:
    get:
      tags: [Attendance Corrections]
      summary: Export attendance corrections
      description: Downloads the current filtered queue as CSV.
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [pending, approved, rejected] }
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
      responses:
        "200":
          description: CSV file
          content:
            text/csv:
              schema: { type: string, format: binary }

  /attendance-corrections/{correctionId}:
    parameters:
      - name: correctionId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Attendance Corrections]
      summary: Get attendance correction
      description: Backs the "Review Attendance Correction" side panel.
      responses:
        "200":
          description: Full correction detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AttendanceCorrectionDetail" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Attendance Corrections]
      summary: Update attendance correction
      description: Saves a draft manager comment without changing status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                manager_comment: { type: string }
      responses:
        "200":
          description: Updated correction
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AttendanceCorrectionDetail" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # Correction Review
  # ============================================================
  /attendance-corrections/{correctionId}/review:
    parameters:
      - name: correctionId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Correction Review]
      summary: Get current review status
      responses:
        "200":
          description: Review status
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReviewStatus" }
        "404": { $ref: "#/components/responses/NotFound" }

  /attendance-corrections/{correctionId}/approve:
    parameters:
      - name: correctionId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [Correction Review]
      summary: Approve attendance correction
      description: Applies the requested change to the linked attendance record.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                manager_comment: { type: string }
      responses:
        "200":
          description: Approved correction
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AttendanceCorrectionDetail" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /attendance-corrections/{correctionId}/reject:
    parameters:
      - name: correctionId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [Correction Review]
      summary: Reject attendance correction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [manager_comment]
              properties:
                manager_comment: { type: string }
      responses:
        "200":
          description: Rejected correction
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AttendanceCorrectionDetail" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /attendance-corrections/{correctionId}/review/history:
    parameters:
      - name: correctionId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Correction Review]
      summary: List review history
      description: Every status transition (submitted, approved/rejected) with actor and timestamp.
      responses:
        "200":
          description: Review history entries
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ReviewHistoryEntry" }

  # ============================================================
  # Attendance Records
  # ============================================================
  /employees/{employeeId}/attendance-records:
    parameters:
      - name: employeeId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Attendance Records]
      summary: List attendance records
      parameters:
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
      responses:
        "200":
          description: List of attendance records for the employee
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/AttendanceRecord" }

  /attendance-records/{recordId}:
    parameters:
      - name: recordId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Attendance Records]
      summary: Get attendance record
      description: The underlying clock in/out record referenced by "Original Record".
      responses:
        "200":
          description: Attendance record
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AttendanceRecord" }
        "404": { $ref: "#/components/responses/NotFound" }

  /attendance-records/{recordId}/breaks:
    parameters:
      - name: recordId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Attendance Records]
      summary: List record breaks
      description: 'Source of "Meal Break: No Change" when unmodified.'
      responses:
        "200":
          description: List of breaks
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/AttendanceBreak" }

  # ============================================================
  # Correction History
  # ============================================================
  /employees/{employeeId}/attendance-corrections:
    parameters:
      - name: employeeId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Correction History]
      summary: List employee correction history
      responses:
        "200":
          description: List of corrections submitted by this employee
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/AttendanceCorrectionListItem" }

  /attendance-records/{recordId}/corrections:
    parameters:
      - name: recordId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Correction History]
      summary: List correction history for record
      description: Every correction attempt ever made against one attendance record (audit trail).
      responses:
        "200":
          description: List of corrections for this record
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/AttendanceCorrectionListItem" }

  # ============================================================
  # Reference Data
  # ============================================================
  /shifts/{shiftId}:
    parameters:
      - name: shiftId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Reference Data]
      summary: Get shift
      description: Returns start_time / end_time for the "Scheduled Shift" label.
      responses:
        "200":
          description: Shift
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Shift" }
        "404": { $ref: "#/components/responses/NotFound" }

  /employees/{employeeId}:
    parameters:
      - name: employeeId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Reference Data]
      summary: Get employee
      description: Employee profile fields used in the review panel header (name, code, title, avatar).
      responses:
        "200":
          description: Employee
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EmployeeBrief" }
        "404": { $ref: "#/components/responses/NotFound" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Conflict:
      description: Already reviewed (stale state)
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    EmployeeBrief:
      type: object
      properties:
        id: { type: string, format: uuid }
        employee_code: { type: string, example: EMP-8234 }
        full_name: { type: string, example: Sarah Jenkins }
        job_title: { type: string, example: Customer Support Rep }
        avatar_url: { type: string, format: uri }

    Shift:
      type: object
      properties:
        id: { type: string, format: uuid }
        start_time: { type: string, example: "09:00" }
        end_time: { type: string, example: "17:00" }

    AttendanceRecord:
      type: object
      properties:
        id: { type: string, format: uuid }
        employee_id: { type: string, format: uuid }
        shift_id: { type: string, format: uuid }
        attendance_date: { type: string, format: date }
        clock_in_at: { type: string, format: date-time }
        clock_out_at: { type: string, format: date-time }
        status:
          type: string
          enum: [present, late, missing_punch, geofence_alert, exception, in_progress]

    AttendanceBreak:
      type: object
      properties:
        id: { type: string, format: uuid }
        attendance_record_id: { type: string, format: uuid }
        break_start_at: { type: string, format: date-time }
        break_end_at: { type: string, format: date-time }
        duration_minutes: { type: integer }

    AttendanceCorrectionSummary:
      type: object
      properties:
        pending_review: { type: integer, example: 12 }
        approved_today: { type: integer, example: 24 }
        rejected_today: { type: integer, example: 3 }

    AttendanceCorrectionListItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        employee: { $ref: "#/components/schemas/EmployeeBrief" }
        attendance_date: { type: string, format: date }
        original_record:
          type: object
          properties:
            clock_in_at: { type: string, example: "09:15" }
            clock_out_at: { type: string, example: "17:00" }
        requested_change:
          type: object
          properties:
            clock_in_at: { type: string, example: "09:00" }
            clock_out_at: { type: string, example: "17:00" }
        reason_category: { type: string, example: Forgot to clock in }
        status: { type: string, enum: [pending, approved, rejected] }
        submitted_at: { type: string, format: date-time }

    AttendanceCorrectionDetail:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [pending, approved, rejected] }
        employee: { $ref: "#/components/schemas/EmployeeBrief" }
        scheduled_shift: { $ref: "#/components/schemas/Shift" }
        timesheet_modification:
          type: object
          properties:
            clock_in:
              type: object
              properties:
                original: { type: string }
                requested: { type: string }
                changed: { type: boolean }
            clock_out:
              type: object
              properties:
                original: { type: string }
                requested: { type: string }
                changed: { type: boolean }
            meal_break:
              type: object
              properties:
                original_minutes: { type: integer }
                requested_minutes: { type: integer }
                changed: { type: boolean }
        reason_category: { type: string }
        employee_justification: { type: string }
        manager_comment: { type: string, nullable: true }
        submitted_at: { type: string, format: date-time }
        reviewed_by: { $ref: "#/components/schemas/EmployeeBrief" }
        reviewed_at: { type: string, format: date-time, nullable: true }

    AttendanceCorrectionCreate:
      type: object
      required: [attendance_record_id, reason_category]
      properties:
        attendance_record_id: { type: string, format: uuid }
        requested_clock_in_at: { type: string, format: date-time }
        requested_clock_out_at: { type: string, format: date-time }
        requested_break_minutes: { type: integer }
        reason_category: { type: string }
        employee_justification: { type: string }

    ReviewStatus:
      type: object
      properties:
        correction_id: { type: string, format: uuid }
        status: { type: string, enum: [pending, approved, rejected] }
        reviewed_by: { $ref: "#/components/schemas/EmployeeBrief" }
        reviewed_at: { type: string, format: date-time, nullable: true }
        manager_comment: { type: string, nullable: true }

    ReviewHistoryEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        action: { type: string, enum: [submitted, approved, rejected, comment_updated] }
        actor: { $ref: "#/components/schemas/EmployeeBrief" }
        comment: { type: string, nullable: true }
        occurred_at: { type: string, format: date-time }

    Pagination:
      type: object
      properties:
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string, example: validation_error }
            message: { type: string }
            fields:
              type: object
              additionalProperties: { type: string }