openapi: 3.0.3
info:
  title: Timesheet Review API
  description: >
    Endpoints backing Workforce > Timesheets & Overtime > Team Timesheets
    > Review (manager review of one employee's weekly timesheet).
  version: "1.0.0"

servers:
  - url: https://api.precisionenterprise.com/v1

security:
  - bearerAuth: []

tags:
  - name: Team Timesheets
    description: Weekly timesheet directory and approval decision.
  - name: Timesheet Entries
    description: Day-level project/task time entries within a timesheet.
  - name: Timesheet Corrections
    description: Correction requests sent back to the employee.
  - name: Reference Data
    description: Read-only lookups used to render the review header.

paths:
  # ============================================================
  # Team Timesheets
  # ============================================================
  /timesheets:
    get:
      tags: [Team Timesheets]
      summary: List team timesheets
      description: Backs the "Team Timesheets" list this review screen is opened from.
      parameters:
        - name: employee_id
          in: query
          schema: { type: string, format: uuid }
        - name: department_id
          in: query
          schema: { type: string, format: uuid }
        - name: status
          in: query
          schema: { type: string, enum: [draft, submitted, correction_requested, approved] }
        - name: week_start
          in: query
          schema: { type: string, format: date }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: page_size
          in: query
          schema: { type: integer, default: 20 }
      responses:
        "200":
          description: Paginated list of timesheets
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/TimesheetListItem" }
                  pagination: { $ref: "#/components/schemas/Pagination" }

  /timesheets/{timesheetId}:
    parameters:
      - name: timesheetId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Team Timesheets]
      summary: Get timesheet
      description: >
        Backs the header (employee, department, manager, week range, status
        pill) and the 4 summary cards (Regular / Overtime / Total Tracked /
        Billable Amount).
      responses:
        "200":
          description: Timesheet detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TimesheetDetail" }
        "404": { $ref: "#/components/responses/NotFound" }

  /timesheets/{timesheetId}/approve:
    parameters:
      - name: timesheetId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [Team Timesheets]
      summary: Approve timesheet
      description: Backs the "Approve Timesheet" button.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                manager_comment: { type: string }
      responses:
        "200":
          description: Approved timesheet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TimesheetDetail" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /timesheets/{timesheetId}/reject:
    parameters:
      - name: timesheetId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [Team Timesheets]
      summary: Reject timesheet
      description: Backs the "Reject" button.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [manager_comment]
              properties:
                manager_comment: { type: string }
      responses:
        "200":
          description: Rejected timesheet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TimesheetDetail" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  # ============================================================
  # Timesheet Entries
  # ============================================================
  /timesheets/{timesheetId}/entries:
    parameters:
      - name: timesheetId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Timesheet Entries]
      summary: List timesheet entries
      description: >
        Backs the day-by-day table rows (date, project/task, start/end,
        break, reg/OT/total, Tracked or Manual badge) and the weekly
        totals row.
      responses:
        "200":
          description: List of entries
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/TimesheetEntry" }

  /timesheets/{timesheetId}/entries/{entryId}:
    parameters:
      - name: timesheetId
        in: path
        required: true
        schema: { type: string, format: uuid }
      - name: entryId
        in: path
        required: true
        schema: { type: string, format: uuid }
    patch:
      tags: [Timesheet Entries]
      summary: Update timesheet entry
      description: Manager adjustment to a single day's entry before approving.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TimesheetEntryUpdate" }
      responses:
        "200":
          description: Updated entry
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TimesheetEntry" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # Timesheet Corrections
  # ============================================================
  /timesheets/{timesheetId}/corrections:
    parameters:
      - name: timesheetId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Timesheet Corrections]
      summary: List correction requests
      description: History of correction requests raised on this timesheet.
      responses:
        "200":
          description: List of corrections
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/TimesheetCorrection" }
    post:
      tags: [Timesheet Corrections]
      summary: Request correction
      description: >
        Backs the "Request Correction" button - sends the timesheet (or one
        entry) back to the employee and sets timesheet status to
        correction_requested.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TimesheetCorrectionCreate" }
      responses:
        "201":
          description: Created correction request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TimesheetCorrection" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ============================================================
  # Reference Data
  # ============================================================
  /employees/{employeeId}:
    parameters:
      - name: employeeId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Reference Data]
      summary: Get employee
      description: >
        Employee header fields (name, code, department, manager, avatar)
        used at the top of the review panel.
      responses:
        "200":
          description: Employee
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EmployeeBrief" }
        "404": { $ref: "#/components/responses/NotFound" }

  /departments/{departmentId}:
    parameters:
      - name: departmentId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Reference Data]
      summary: Get department
      description: 'Backs "Dept: Engineering (Frontend)" in the header.'
      responses:
        "200":
          description: Department
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Department" }
        "404": { $ref: "#/components/responses/NotFound" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Conflict:
      description: Timesheet is no longer in a reviewable state
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    EmployeeBrief:
      type: object
      properties:
        id: { type: string, format: uuid }
        employee_code: { type: string, example: EMP-8942 }
        full_name: { type: string, example: Marcus Chen }
        avatar_url: { type: string, format: uri }
        manager: { $ref: "#/components/schemas/EmployeeMini" }
        department: { $ref: "#/components/schemas/Department" }

    EmployeeMini:
      type: object
      properties:
        id: { type: string, format: uuid }
        full_name: { type: string, example: Sarah Jenkins }

    Department:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: "Engineering (Frontend)" }

    TimesheetListItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        employee: { $ref: "#/components/schemas/EmployeeBrief" }
        week_start: { type: string, format: date }
        week_end: { type: string, format: date }
        total_hours: { type: number, example: 42.5 }
        status: { type: string, enum: [draft, submitted, correction_requested, approved] }

    TimesheetDetail:
      type: object
      properties:
        id: { type: string, format: uuid }
        employee: { $ref: "#/components/schemas/EmployeeBrief" }
        week_start: { type: string, format: date, example: "2023-10-16" }
        week_end: { type: string, format: date, example: "2023-10-22" }
        status: { type: string, enum: [draft, submitted, correction_requested, approved] }
        regular_hours: { type: number, example: 38.5 }
        overtime_hours: { type: number, example: 4.0 }
        total_hours: { type: number, example: 42.5 }
        billable_hours: { type: number }
        billable_amount: { type: number, example: 2840.00 }
        submitted_at: { type: string, format: date-time }
        reviewed_by: { $ref: "#/components/schemas/EmployeeMini" }
        reviewed_at: { type: string, format: date-time, nullable: true }

    TimesheetEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        work_date: { type: string, format: date }
        project_name: { type: string, example: PRJ-Alpha Redesign }
        task_name: { type: string, example: Component Library Update }
        start_at: { type: string, format: date-time }
        end_at: { type: string, format: date-time }
        break_minutes: { type: integer, example: 30 }
        regular_hours: { type: number, example: 8.0 }
        overtime_hours: { type: number, example: 0.75 }
        total_hours: { type: number, example: 8.75 }
        entry_type: { type: string, enum: [tracked, manual] }

    TimesheetEntryUpdate:
      type: object
      properties:
        start_at: { type: string, format: date-time }
        end_at: { type: string, format: date-time }
        break_minutes: { type: integer }
        project_name: { type: string }
        task_name: { type: string }

    TimesheetCorrection:
      type: object
      properties:
        id: { type: string, format: uuid }
        affected_entry_id: { type: string, format: uuid, nullable: true }
        requested_by: { $ref: "#/components/schemas/EmployeeMini" }
        correction_reason: { type: string }
        manager_comment: { type: string, nullable: true }
        status: { type: string, enum: [pending, approved, rejected] }
        requested_at: { type: string, format: date-time }
        resolved_at: { type: string, format: date-time, nullable: true }

    TimesheetCorrectionCreate:
      type: object
      required: [correction_reason]
      properties:
        affected_entry_id: { type: string, format: uuid }
        correction_reason: { type: string }

    Pagination:
      type: object
      properties:
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string, example: validation_error }
            message: { type: string }
            fields:
              type: object
              additionalProperties: { type: string }