openapi: 3.0.3
info:
  title: WMS Enterprise - Leave Management API
  description: >
    Endpoints backing the Leave Management screen: My Leave Balance,
    Team Leave Calendar, and Recent Leave Requests.
  version: "1.0.0"

servers:
  - url: https://api.globalcorp.com/v1

security:
  - bearerAuth: []

tags:
  - name: Leave Requests
    description: Leave request directory and lifecycle operations.
  - name: Leave Balances
    description: Per employee, per leave type balance and adjustment history.
  - name: Team Leave Calendar
    description: Month view of who is on leave, scoped to a team.
  - name: Reference Data
    description: Read-only lookups - leave types, policies, holidays.

paths:
  # ============================================================
  # Leave Requests
  # ============================================================
  /leave-requests:
    get:
      tags: [Leave Requests]
      summary: List leave requests
      description: >
        Backs the "Recent Leave Requests" table and "View All History" link.
      parameters:
        - name: employee_id
          in: query
          schema: { type: string, format: uuid }
        - name: status
          in: query
          schema: { type: string, enum: [pending, approved, rejected, cancelled] }
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: page_size
          in: query
          schema: { type: integer, default: 20 }
      responses:
        "200":
          description: Paginated list of leave requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/LeaveRequest" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
    post:
      tags: [Leave Requests]
      summary: Create leave request
      description: >
        Backs the "Request Leave" button. Validates dates against the
        employee's remaining balance for the chosen leave type.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LeaveRequestCreate" }
      responses:
        "201":
          description: Created leave request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LeaveRequest" }
        "422":
          description: Requested days exceed remaining balance
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /leave-requests/{requestId}:
    parameters:
      - name: requestId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Leave Requests]
      summary: Get leave request
      responses:
        "200":
          description: Leave request detail
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LeaveRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Leave Requests]
      summary: Update leave request
      description: >
        Edit a request while it is still pending (dates, reason). Cannot be
        used once the request has been approved or rejected.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LeaveRequestUpdate" }
      responses:
        "200":
          description: Updated leave request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LeaveRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /leave-requests/{requestId}/cancel:
    parameters:
      - name: requestId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [Leave Requests]
      summary: Cancel leave request
      description: Sets status to cancelled and restores the reserved balance.
      responses:
        "200":
          description: Cancelled leave request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LeaveRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  # ============================================================
  # Leave Balances
  # ============================================================
  /employees/{employeeId}/leave-balances:
    parameters:
      - name: employeeId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Leave Balances]
      summary: List leave balances
      description: >
        Backs the "My Leave Balance" card - one entry per leave type
        (Annual, Sick, Unpaid) with entitlement, used, and remaining days.
      responses:
        "200":
          description: List of balances
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/LeaveBalance" }

  /employees/{employeeId}/leave-balances/{leaveTypeId}:
    parameters:
      - name: employeeId
        in: path
        required: true
        schema: { type: string, format: uuid }
      - name: leaveTypeId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Leave Balances]
      summary: Get leave balance
      responses:
        "200":
          description: Single leave balance
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LeaveBalance" }
        "404": { $ref: "#/components/responses/NotFound" }

  /employees/{employeeId}/leave-balances/{leaveTypeId}/adjustments:
    parameters:
      - name: employeeId
        in: path
        required: true
        schema: { type: string, format: uuid }
      - name: leaveTypeId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Leave Balances]
      summary: List balance adjustments
      description: Audit trail of manual changes - accrual runs, corrections, carry-over.
      responses:
        "200":
          description: List of adjustments
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/LeaveBalanceAdjustment" }

  # ============================================================
  # Team Leave Calendar
  # ============================================================
  /teams/{teamId}/leave-calendar:
    parameters:
      - name: teamId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Team Leave Calendar]
      summary: Get team leave calendar
      description: >
        Backs the "Team Leave Calendar" grid - who is on leave per day,
        plus an aggregated pending count for days with unreviewed requests.
      parameters:
        - name: month
          in: query
          required: true
          schema: { type: string, example: "2023-10" }
      responses:
        "200":
          description: Calendar days with leave entries
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/CalendarDay" }

  # ============================================================
  # Reference Data
  # ============================================================
  /leave-types:
    get:
      tags: [Reference Data]
      summary: List leave types
      responses:
        "200":
          description: Leave types
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/LeaveType" }

  /leave-policies:
    get:
      tags: [Reference Data]
      summary: List leave policies
      description: >
        Source of the accrual/reset rule behind "Balances reset on
        Jan 1st, 2024".
      parameters:
        - name: leave_type_id
          in: query
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Leave policies
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/LeavePolicy" }

  /holidays:
    get:
      tags: [Reference Data]
      summary: List holidays
      description: Used to shade non-working days on the team calendar.
      parameters:
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
      responses:
        "200":
          description: Holidays
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Holiday" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Conflict:
      description: Request is no longer editable (already reviewed or cancelled)
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    EmployeeBrief:
      type: object
      properties:
        id: { type: string, format: uuid }
        employee_code: { type: string, example: EMP-1042 }
        full_name: { type: string, example: Sarah J. }
        avatar_url: { type: string, format: uri }

    LeaveType:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: Annual Leave }
        status: { type: string, enum: [active, inactive] }

    LeavePolicy:
      type: object
      properties:
        id: { type: string, format: uuid }
        policy_name: { type: string }
        leave_type_id: { type: string, format: uuid }
        entitlement_value: { type: number, example: 18 }
        entitlement_unit: { type: string, example: Days }
        accrual_method: { type: string, example: annual_reset }
        carry_over_value: { type: number }
        eligibility: { type: string }

    LeaveBalance:
      type: object
      properties:
        id: { type: string, format: uuid }
        leave_type: { $ref: "#/components/schemas/LeaveType" }
        entitlement_amount: { type: number, example: 18 }
        used_amount: { type: number, example: 3.5 }
        remaining_amount: { type: number, example: 14.5 }
        reset_date: { type: string, format: date, example: "2024-01-01" }
        updated_at: { type: string, format: date-time }

    LeaveBalanceAdjustment:
      type: object
      properties:
        id: { type: string, format: uuid }
        previous_amount: { type: number }
        adjustment_amount: { type: number }
        new_amount: { type: number }
        reason: { type: string }
        adjusted_by: { $ref: "#/components/schemas/EmployeeBrief" }
        adjusted_at: { type: string, format: date-time }

    LeaveRequest:
      type: object
      properties:
        id: { type: string, format: uuid }
        employee: { $ref: "#/components/schemas/EmployeeBrief" }
        leave_type: { $ref: "#/components/schemas/LeaveType" }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        duration_days: { type: number, example: 3 }
        reason: { type: string }
        status: { type: string, enum: [pending, approved, rejected, cancelled] }
        submitted_at: { type: string, format: date-time }
        reviewed_by: { $ref: "#/components/schemas/EmployeeBrief" }
        manager_comment: { type: string, nullable: true }
        reviewed_at: { type: string, format: date-time, nullable: true }

    LeaveRequestCreate:
      type: object
      required: [leave_type_id, start_date, end_date]
      properties:
        leave_type_id: { type: string, format: uuid }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        reason: { type: string }

    LeaveRequestUpdate:
      type: object
      properties:
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        reason: { type: string }

    CalendarDay:
      type: object
      properties:
        date: { type: string, format: date }
        entries:
          type: array
          items:
            type: object
            properties:
              employee: { $ref: "#/components/schemas/EmployeeBrief" }
              leave_type: { $ref: "#/components/schemas/LeaveType" }
              status: { type: string, enum: [pending, approved] }
        pending_count: { type: integer, example: 2 }

    Holiday:
      type: object
      properties:
        id: { type: string, format: uuid }
        holiday_name: { type: string }
        holiday_date: { type: string, format: date }
        holiday_type: { type: string }

    Pagination:
      type: object
      properties:
        page: { type: integer }
        page_size: { type: integer }
        total: { type: integer }

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string, example: validation_error }
            message: { type: string }
            fields:
              type: object
              additionalProperties: { type: string }