openapi: 3.0.3
info:
  title: Performance Management System API
  description: |
    Comprehensive RESTful API for the Performance Management System module of Copilot HR.
    Strictly aligned with the database schema (`performance/overall.dbml`).
    Covers the full performance management lifecycle including OKRs & Goal Management, 
    Goal Cycles, Progress Tracking, Approvals, 360-degree Performance Review Cycles, 
    Review Templates, Multi-Role Feedback (Self, Manager, Peer, HR), Calibration, Approval Workflows, 
    1-on-1 Coaching Sessions, Agenda Items, Shared/Private Notes, Action Items, and Executive Summaries.
  version: 1.0.0
  contact:
    name: Copilot HR Development Team
    email: support@copilothr.com

servers:
  - url: https://api.copilothr.com/v1
    description: Production Server
  - url: https://staging-api.copilothr.com/v1
    description: Staging Environment
  - url: http://localhost:8080/v1
    description: Local Development Environment

security:
  - BearerAuth: []

tags:
  - name: Goal Management
    description: Goal cycles, performance goals (OKRs/KPIs), progress updates, approvals, revisions, and history.
  - name: Performance Review Management
    description: Review cycles, 360 feedback templates, participant invitations, self/manager/peer reviews, approvals, and history.
  - name: One-on-One Coaching Management
    description: Coaching templates, 1-on-1 meeting scheduling, agendas, notes, action items, and coaching logs.
  - name: Performance Reporting & Summaries
    description: Calculated employee performance metrics, goal progress averages, and review rating summaries.

paths:
  # =========================================================================
  # 1. GOAL MANAGEMENT
  # =========================================================================
  /goal-cycles:
    get:
      tags:
        - Goal Management
      summary: List goal cycles
      description: Retrieve goal cycles filtered by organization or status.
      responses:
        '200':
          description: List of goal cycles.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoalCycle'

    post:
      tags:
        - Goal Management
      summary: Create goal cycle
      description: Define a new goal management cycle (e.g. Q3 2026 OKRs).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [organization_id, name, start_date, end_date, created_by_employee_id]
              properties:
                organization_id:
                  type: string
                  format: uuid
                name:
                  type: string
                  example: "Q3 2026 Company & Team OKRs"
                description:
                  type: string
                start_date:
                  type: string
                  format: date
                  example: "2026-07-01"
                end_date:
                  type: string
                  format: date
                  example: "2026-09-30"
                allow_employee_goal_creation:
                  type: boolean
                  default: true
                require_manager_approval:
                  type: boolean
                  default: true
                created_by_employee_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Goal cycle created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalCycle'

  /goal-cycles/{cycleId}:
    get:
      tags:
        - Goal Management
      summary: Get goal cycle details
      description: Retrieve details for a specific goal cycle.
      parameters:
        - name: cycleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Goal cycle details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalCycle'

  /goals:
    get:
      tags:
        - Goal Management
      summary: List performance goals
      description: Fetch goals filtered by cycle, owner (individual/team/department/org), progress status, or employee.
      parameters:
        - name: goal_cycle_id
          in: query
          schema:
            type: string
            format: uuid
        - name: owner_type
          in: query
          schema:
            type: string
            enum: [individual, team, department, organization]
        - name: owner_employee_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, pending_approval, active, needs_revision, completed, cancelled]
        - name: progress_status
          in: query
          schema:
            type: string
            enum: [not_started, on_track, at_risk, off_track, completed]
      responses:
        '200':
          description: Goals list retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PerformanceGoal'

    post:
      tags:
        - Goal Management
      summary: Create performance goal
      description: Create a new performance goal / OKR aligned with parent goals or department goals.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGoalRequest'
      responses:
        '201':
          description: Goal created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceGoal'

  /goals/{goalId}:
    get:
      tags:
        - Goal Management
      summary: Get goal details
      description: Retrieve full goal info including current value, target value, progress status, and owner.
      parameters:
        - name: goalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Goal details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceGoal'

    put:
      tags:
        - Goal Management
      summary: Update performance goal
      description: Update goal parameters (title, description, target value, weight, due date).
      parameters:
        - name: goalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGoalRequest'
      responses:
        '200':
          description: Goal updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceGoal'

  /goals/{goalId}/progress:
    patch:
      tags:
        - Goal Management
      summary: Update goal progress
      description: Log a progress update (new value, progress status, comment) and calculate progress percentage.
      parameters:
        - name: goalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [new_value, new_progress_status, updated_by_employee_id]
              properties:
                new_value:
                  type: number
                  format: decimal
                  example: 75.00
                new_progress_status:
                  type: string
                  enum: [not_started, on_track, at_risk, off_track, completed]
                  example: "on_track"
                comment:
                  type: string
                  example: "Completed 3 of 4 planned sub-milestones."
                updated_by_employee_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Progress updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalProgressUpdate'

  /goals/{goalId}/approvals:
    post:
      tags:
        - Goal Management
      summary: Submit goal approval decision
      description: Manager or reviewer approves or requests revision on a created goal.
      parameters:
        - name: goalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reviewer_employee_id, status]
              properties:
                reviewer_employee_id:
                  type: string
                  format: uuid
                status:
                  type: string
                  enum: [pending, approved, rejected, revision_requested]
                  example: "approved"
                comment:
                  type: string
                  example: "Goal targets aligned with team OKRs."
      responses:
        '200':
          description: Approval decision recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalApproval'

  /goals/{goalId}/revisions:
    post:
      tags:
        - Goal Management
      summary: Request goal revision
      description: Employee or manager requests mid-cycle goal target or timeline revision.
      parameters:
        - name: goalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [requested_by_employee_id, reason]
              properties:
                requested_by_employee_id:
                  type: string
                  format: uuid
                reason:
                  type: string
                  example: "Scope expansion required adjusting target completion metrics."
      responses:
        '201':
          description: Revision request created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalRevisionRequest'

  /goals/{goalId}/history:
    get:
      tags:
        - Goal Management
      summary: Get goal history log
      description: Retrieve change audit history log for a goal.
      parameters:
        - name: goalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Goal audit history.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoalHistory'

  # =========================================================================
  # 2. PERFORMANCE REVIEW MANAGEMENT
  # =========================================================================
  /review-cycles:
    get:
      tags:
        - Performance Review Management
      summary: List review cycles
      description: Retrieve performance review cycles (e.g. Annual Review 2026).
      responses:
        '200':
          description: List of review cycles.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PerformanceReviewCycle'

    post:
      tags:
        - Performance Review Management
      summary: Create review cycle
      description: Configure a new performance review cycle with timelines and options (peer feedback, calibration).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [organization_id, name, review_period_start, review_period_end, created_by_employee_id]
              properties:
                organization_id:
                  type: string
                  format: uuid
                name:
                  type: string
                  example: "Mid-Year Performance Review 2026"
                description:
                  type: string
                review_period_start:
                  type: string
                  format: date
                  example: "2026-01-01"
                review_period_end:
                  type: string
                  format: date
                  example: "2026-06-30"
                self_assessment_due:
                  type: string
                  format: date
                  example: "2026-07-15"
                manager_review_due:
                  type: string
                  format: date
                  example: "2026-07-31"
                peer_feedback_enabled:
                  type: boolean
                  default: true
                calibration_enabled:
                  type: boolean
                  default: true
                created_by_employee_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Review cycle created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceReviewCycle'

  /review-templates:
    get:
      tags:
        - Performance Review Management
      summary: List review templates
      description: Retrieve 360 feedback and performance appraisal templates.
      responses:
        '200':
          description: List of review templates.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReviewTemplate'

  /review-templates/{templateId}/sections:
    get:
      tags:
        - Performance Review Management
      summary: Get review template sections & questions
      description: Fetch section structures, questions, display order, and weights for a review template.
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Template section structure.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReviewTemplateSection'

  /performance-reviews:
    get:
      tags:
        - Performance Review Management
      summary: List performance reviews
      description: Get performance reviews filtered by review cycle, employee, manager, or status.
      parameters:
        - name: review_cycle_id
          in: query
          schema:
            type: string
            format: uuid
        - name: employee_id
          in: query
          schema:
            type: string
            format: uuid
        - name: manager_employee_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [not_started, self_assessment, manager_review, calibration, pending_approval, revision_requested, approved, published, cancelled]
      responses:
        '200':
          description: List of performance reviews.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PerformanceReview'

    post:
      tags:
        - Performance Review Management
      summary: Initialize performance review
      description: Create a performance review instance for an employee in a cycle.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [review_cycle_id, review_template_id, employee_id, manager_employee_id]
              properties:
                review_cycle_id:
                  type: string
                  format: uuid
                review_template_id:
                  type: string
                  format: uuid
                employee_id:
                  type: string
                  format: uuid
                manager_employee_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Review created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceReview'

  /performance-reviews/{reviewId}:
    get:
      tags:
        - Performance Review Management
      summary: Get performance review details
      description: Retrieve complete review details including ratings, summary, status, and timestamps.
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Review details retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceReview'

  /performance-reviews/{reviewId}/status:
    patch:
      tags:
        - Performance Review Management
      summary: Update review status
      description: Advance review lifecycle stage (e.g. self_assessment -> manager_review -> calibration -> published).
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [not_started, self_assessment, manager_review, calibration, pending_approval, revision_requested, approved, published, cancelled]
                  example: "manager_review"
      responses:
        '200':
          description: Status updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceReview'

  /performance-reviews/{reviewId}/feedback:
    post:
      tags:
        - Performance Review Management
      summary: Submit feedback (Self, Manager, Peer, HR)
      description: Submit feedback scores, strengths, development areas, comments, and question answers.
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reviewer_employee_id, feedback_type, overall_rating, strengths, development_areas]
              properties:
                reviewer_employee_id:
                  type: string
                  format: uuid
                feedback_type:
                  type: string
                  enum: [self_assessment, manager_feedback, peer_feedback, hr_feedback]
                  example: "self_assessment"
                overall_rating:
                  type: number
                  format: decimal
                  example: 4.5
                strengths:
                  type: string
                  example: "Strong architectural design and cross-team execution."
                development_areas:
                  type: string
                  example: "Delegation of routine task monitoring."
                comments:
                  type: string
                answers:
                  type: array
                  items:
                    type: object
                    required: [review_question_id]
                    properties:
                      review_question_id:
                        type: string
                        format: uuid
                      rating_value:
                        type: number
                        format: decimal
                      text_value:
                        type: string
      responses:
        '201':
          description: Feedback submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewFeedback'

  /performance-reviews/{reviewId}/approvals:
    post:
      tags:
        - Performance Review Management
      summary: Submit review approval
      description: HR or Senior Manager submits approval decision on a review before publishing.
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approver_employee_id, decision]
              properties:
                approver_employee_id:
                  type: string
                  format: uuid
                decision:
                  type: string
                  enum: [pending, approved, rejected, revision_requested]
                  example: "approved"
                comment:
                  type: string
                  example: "Ratings calibrated and approved."
      responses:
        '200':
          description: Review approval decision recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewApproval'

  /performance-reviews/{reviewId}/history:
    get:
      tags:
        - Performance Review Management
      summary: Get review history log
      description: Fetch audit trail of status changes and events for a performance review.
      parameters:
        - name: reviewId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Review audit history.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReviewHistory'

  # =========================================================================
  # 3. ONE-ON-ONE COACHING MANAGEMENT
  # =========================================================================
  /coaching-templates:
    get:
      tags:
        - One-on-One Coaching Management
      summary: List coaching templates
      description: Retrieve 1-on-1 coaching meeting templates.
      responses:
        '200':
          description: List of coaching templates.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CoachingTemplate'

  /one-on-ones:
    get:
      tags:
        - One-on-One Coaching Management
      summary: List 1-on-1 coaching sessions
      description: Retrieve 1-on-1 sessions filtered by employee, manager, or status.
      parameters:
        - name: employee_id
          in: query
          schema:
            type: string
            format: uuid
        - name: manager_employee_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [requested, scheduled, completed, cancelled, rescheduled]
      responses:
        '200':
          description: Sessions list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OneOnOneSession'

    post:
      tags:
        - One-on-One Coaching Management
      summary: Schedule 1-on-1 session
      description: Schedule a 1-on-1 coaching meeting between employee and manager.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [organization_id, employee_id, manager_employee_id, title, scheduled_start, scheduled_end, created_by_employee_id]
              properties:
                organization_id:
                  type: string
                  format: uuid
                employee_id:
                  type: string
                  format: uuid
                manager_employee_id:
                  type: string
                  format: uuid
                coaching_template_id:
                  type: string
                  format: uuid
                title:
                  type: string
                  example: "Bi-Weekly Check-in & Career Coaching"
                scheduled_start:
                  type: string
                  format: date-time
                  example: "2026-08-25T10:00:00Z"
                scheduled_end:
                  type: string
                  format: date-time
                  example: "2026-08-25T10:30:00Z"
                location:
                  type: string
                  example: "Meeting Room B"
                meeting_url:
                  type: string
                  example: "https://meet.google.com/abc-defg-hij"
                created_by_employee_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Session scheduled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneOnOneSession'

  /one-on-ones/{sessionId}:
    get:
      tags:
        - One-on-One Coaching Management
      summary: Get 1-on-1 session details
      description: Retrieve session details including agenda items, notes, and action items.
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Session details retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneOnOneSession'

  /one-on-ones/{sessionId}/agenda-items:
    post:
      tags:
        - One-on-One Coaching Management
      summary: Add 1-on-1 agenda item
      description: Add a topic or discussion item to a 1-on-1 session agenda.
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [created_by_employee_id, title, display_order]
              properties:
                created_by_employee_id:
                  type: string
                  format: uuid
                title:
                  type: string
                  example: "Review Q3 goal progress and blockers"
                description:
                  type: string
                display_order:
                  type: integer
                  example: 1
      responses:
        '201':
          description: Agenda item created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneOnOneAgendaItem'

  /one-on-ones/{sessionId}/notes:
    post:
      tags:
        - One-on-One Coaching Management
      summary: Add 1-on-1 meeting note
      description: Save meeting notes (shared or private).
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [author_employee_id, note_text, is_shared]
              properties:
                author_employee_id:
                  type: string
                  format: uuid
                note_text:
                  type: string
                  example: "Discussed career development roadmap and agreed on technical leadership training."
                is_shared:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Note added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneOnOneNote'

  /one-on-ones/{sessionId}/action-items:
    post:
      tags:
        - One-on-One Coaching Management
      summary: Create coaching action item
      description: Assign a follow-up action item resulting from a 1-on-1 session.
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assigned_to_employee_id, created_by_employee_id, title, priority, status]
              properties:
                assigned_to_employee_id:
                  type: string
                  format: uuid
                created_by_employee_id:
                  type: string
                  format: uuid
                title:
                  type: string
                  example: "Enroll in System Architecture Workshop"
                description:
                  type: string
                priority:
                  type: string
                  enum: [low, medium, high, urgent]
                  example: "high"
                status:
                  type: string
                  enum: [open, in_progress, completed, cancelled]
                  example: "open"
                due_date:
                  type: string
                  format: date
                  example: "2026-09-15"
      responses:
        '201':
          description: Action item created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoachingActionItem'

  # =========================================================================
  # 4. PERFORMANCE REPORTING & SUMMARIES
  # =========================================================================
  /employees/{employeeId}/performance-summary:
    get:
      tags:
        - Performance Reporting & Summaries
      summary: Get employee performance summary
      description: Retrieve aggregated metrics (goal completion %, review rating, 1-on-1 session count, open action items).
      parameters:
        - name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Performance summary retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeePerformanceSummary'

    post:
      tags:
        - Performance Reporting & Summaries
      summary: Recalculate performance summary snapshot
      description: Trigger recalculation of materialized performance summary metrics for an employee.
      parameters:
        - name: employeeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Recalculated performance summary snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeePerformanceSummary'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    GoalCycle:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        name:
          type: string
          example: "Q3 2026 Goal Cycle"
        description:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        allow_employee_goal_creation:
          type: boolean
        require_manager_approval:
          type: boolean
        is_active:
          type: boolean
        created_by_employee_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PerformanceGoal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        goal_cycle_id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        owner_type:
          type: string
          enum: [individual, team, department, organization]
        owner_employee_id:
          type: string
          format: uuid
        department_id:
          type: string
          format: uuid
        parent_goal_id:
          type: string
          format: uuid
        title:
          type: string
          example: "Increase API Test Coverage to 90%"
        description:
          type: string
        success_criteria:
          type: string
        weight:
          type: number
          format: decimal
          example: 25.00
        target_value:
          type: number
          format: decimal
          example: 90.00
        current_value:
          type: number
          format: decimal
          example: 75.00
        unit:
          type: string
          example: "%"
        start_date:
          type: string
          format: date
        due_date:
          type: string
          format: date
        status:
          type: string
          enum: [draft, pending_approval, active, needs_revision, completed, cancelled]
        progress_status:
          type: string
          enum: [not_started, on_track, at_risk, off_track, completed]
        created_by_employee_id:
          type: string
          format: uuid
        approved_by_employee_id:
          type: string
          format: uuid
        approved_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateGoalRequest:
      type: object
      required: [goal_cycle_id, organization_id, owner_type, title, start_date, due_date, status, progress_status, created_by_employee_id]
      properties:
        goal_cycle_id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        owner_type:
          type: string
          enum: [individual, team, department, organization]
        owner_employee_id:
          type: string
          format: uuid
        department_id:
          type: string
          format: uuid
        parent_goal_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        success_criteria:
          type: string
        weight:
          type: number
          format: decimal
        target_value:
          type: number
          format: decimal
        current_value:
          type: number
          format: decimal
        unit:
          type: string
        start_date:
          type: string
          format: date
        due_date:
          type: string
          format: date
        status:
          type: string
          enum: [draft, pending_approval, active, needs_revision, completed, cancelled]
        progress_status:
          type: string
          enum: [not_started, on_track, at_risk, off_track, completed]
        created_by_employee_id:
          type: string
          format: uuid

    GoalProgressUpdate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        goal_id:
          type: string
          format: uuid
        previous_value:
          type: number
          format: decimal
        new_value:
          type: number
          format: decimal
        previous_progress_status:
          type: string
          enum: [not_started, on_track, at_risk, off_track, completed]
        new_progress_status:
          type: string
          enum: [not_started, on_track, at_risk, off_track, completed]
        progress_percent:
          type: number
          format: decimal
          example: 83.33
        comment:
          type: string
        updated_by_employee_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time

    GoalApproval:
      type: object
      properties:
        id:
          type: string
          format: uuid
        goal_id:
          type: string
          format: uuid
        reviewer_employee_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, approved, rejected, revision_requested]
        comment:
          type: string
        requested_at:
          type: string
          format: date-time
        decided_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    GoalRevisionRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        goal_id:
          type: string
          format: uuid
        requested_by_employee_id:
          type: string
          format: uuid
        reason:
          type: string
        requested_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
        is_resolved:
          type: boolean

    GoalHistory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        goal_id:
          type: string
          format: uuid
        changed_by_employee_id:
          type: string
          format: uuid
        event_type:
          type: string
        field_name:
          type: string
        old_value:
          type: string
        new_value:
          type: string
        note:
          type: string
        created_at:
          type: string
          format: date-time

    PerformanceReviewCycle:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        review_period_start:
          type: string
          format: date
        review_period_end:
          type: string
          format: date
        self_assessment_start:
          type: string
          format: date
        self_assessment_due:
          type: string
          format: date
        manager_review_start:
          type: string
          format: date
        manager_review_due:
          type: string
          format: date
        peer_feedback_enabled:
          type: boolean
        calibration_enabled:
          type: boolean
        status:
          type: string
          enum: [draft, scheduled, active, calibration, completed, cancelled]
        created_by_employee_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ReviewTemplate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        version:
          type: integer
        is_active:
          type: boolean

    ReviewTemplateSection:
      type: object
      properties:
        id:
          type: string
          format: uuid
        review_template_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        display_order:
          type: integer
        weight:
          type: number
          format: decimal

    PerformanceReview:
      type: object
      properties:
        id:
          type: string
          format: uuid
        review_cycle_id:
          type: string
          format: uuid
        review_template_id:
          type: string
          format: uuid
        employee_id:
          type: string
          format: uuid
        manager_employee_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [not_started, self_assessment, manager_review, calibration, pending_approval, revision_requested, approved, published, cancelled]
        overall_rating:
          type: number
          format: decimal
          example: 4.5
        manager_summary:
          type: string
        employee_acknowledgement:
          type: string
        submitted_self_assessment_at:
          type: string
          format: date-time
        manager_review_completed_at:
          type: string
          format: date-time
        final_approved_at:
          type: string
          format: date-time
        published_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    ReviewFeedback:
      type: object
      properties:
        id:
          type: string
          format: uuid
        performance_review_id:
          type: string
          format: uuid
        reviewer_employee_id:
          type: string
          format: uuid
        feedback_type:
          type: string
          enum: [self_assessment, manager_feedback, peer_feedback, hr_feedback]
        overall_rating:
          type: number
          format: decimal
        strengths:
          type: string
        development_areas:
          type: string
        comments:
          type: string
        is_submitted:
          type: boolean
        submitted_at:
          type: string
          format: date-time

    ReviewApproval:
      type: object
      properties:
        id:
          type: string
          format: uuid
        performance_review_id:
          type: string
          format: uuid
        approver_employee_id:
          type: string
          format: uuid
        decision:
          type: string
          enum: [pending, approved, rejected, revision_requested]
        comment:
          type: string
        requested_at:
          type: string
          format: date-time
        decided_at:
          type: string
          format: date-time

    ReviewHistory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        performance_review_id:
          type: string
          format: uuid
        changed_by_employee_id:
          type: string
          format: uuid
        event_type:
          type: string
        old_status:
          type: string
        new_status:
          type: string
        note:
          type: string
        created_at:
          type: string
          format: date-time

    CoachingTemplate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        is_active:
          type: boolean

    OneOnOneSession:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        employee_id:
          type: string
          format: uuid
        manager_employee_id:
          type: string
          format: uuid
        coaching_template_id:
          type: string
          format: uuid
        title:
          type: string
        status:
          type: string
          enum: [requested, scheduled, completed, cancelled, rescheduled]
        requested_at:
          type: string
          format: date-time
        scheduled_start:
          type: string
          format: date-time
        scheduled_end:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        location:
          type: string
        meeting_url:
          type: string
        created_by_employee_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time

    OneOnOneAgendaItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        one_on_one_session_id:
          type: string
          format: uuid
        created_by_employee_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        display_order:
          type: integer
        is_discussed:
          type: boolean

    OneOnOneNote:
      type: object
      properties:
        id:
          type: string
          format: uuid
        one_on_one_session_id:
          type: string
          format: uuid
        author_employee_id:
          type: string
          format: uuid
        note_text:
          type: string
        is_shared:
          type: boolean
        created_at:
          type: string
          format: date-time

    CoachingActionItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        one_on_one_session_id:
          type: string
          format: uuid
        assigned_to_employee_id:
          type: string
          format: uuid
        created_by_employee_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        priority:
          type: string
          enum: [low, medium, high, urgent]
        status:
          type: string
          enum: [open, in_progress, completed, cancelled]
        due_date:
          type: string
          format: date
        completed_at:
          type: string
          format: date-time

    EmployeePerformanceSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        employee_id:
          type: string
          format: uuid
        review_cycle_id:
          type: string
          format: uuid
        goal_completion_percent:
          type: number
          format: decimal
          example: 85.50
        average_goal_progress:
          type: number
          format: decimal
          example: 92.00
        overall_review_rating:
          type: number
          format: decimal
          example: 4.50
        one_on_one_sessions_count:
          type: integer
          example: 12
        open_action_items_count:
          type: integer
          example: 2
        calculated_at:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      required: [code, message, timestamp]
      properties:
        code:
          type: string
          example: "INVALID_REQUEST_DATA"
        message:
          type: string
          example: "Validation failed."
        details:
          type: array
          items:
            type: string
        timestamp:
          type: string
          format: date-time

  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
